workflows/my-workflow-2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -160,
        112
      ],
      "id": "a5d40f31-51f4-400f-ae83-0a394cf33b55",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "// Lista de JIDs a borrar\nconst jidsABorrar = [\n  \"5492215972074@s.whatsapp.net\",\n  \"5492215972074@s.whatsapp.net\"\n];\n\nreturn jidsABorrar.map(jid => ({\n  json: { key: jid }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        320
      ],
      "id": "469aa6d3-9679-49dc-8b34-1f0bc447b940",
      "name": "Code3"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=campaña_ocho:{{ $json.key }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        352,
        320
      ],
      "id": "4c279d56-6b91-4b3c-b47f-9dc0f6e77eb3",
      "name": "borrarRedis",
      "credentials": {
        "redis": {
          "id": "IqjVekrFmnlXftuo",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const jidsAVerificar = [\n  \n  \"5492215972074@s.whatsapp.net\"\n];\n\nreturn jidsAVerificar.map(jid => ({\n  json: { \n    key: jid,\n    tipo: \"mensaje\" // o el tipo de key que sea\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        512
      ],
      "id": "45e7b2a4-356c-458e-a76e-deb923d8a1a2",
      "name": "Code4"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "campaña_ocho",
        "key": "=campaña_ocho:{{ $json.key }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        352,
        512
      ],
      "id": "5c09f87a-8046-46d2-881b-2bce6e5e3dcc",
      "name": "borrarRedis2",
      "credentials": {
        "redis": {
          "id": "IqjVekrFmnlXftuo",
          "name": "Redis account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $json.key }}",
        "value": "1",
        "expire": true,
        "ttl": 86400
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        368,
        112
      ],
      "id": "0a33ff4b-01c6-4cba-b17b-e61424da1f7b",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "IqjVekrFmnlXftuo",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Agregar un JID a Redis con valor \"1\" y expiración de 24 horas\nconst jidAgregar = \"5491165442102@s.whatsapp.net\";\n\nreturn [{\n  json: {\n    operation: \"set\",\n    key: `campaña_ocho:${jidAgregar}`,\n    value: \"1\",\n    expire: true,\n    ttl: 86400 // 24 horas en segundos\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        112
      ],
      "id": "71e9c5ca-fd35-4800-93e5-6b8e7a56d624",
      "name": "Code5"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Code5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "borrarRedis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "borrarRedis2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code5": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0abb3bcb-1f14-4dcc-a7ab-bf94941325d3",
  "meta": {
    "instanceId": "ee9f9cdde9b6fee62a7d6845e13fb03583e8c082f1cedc5478accdeca64f2246"
  },
  "id": "hmRKZkIzm5ucn6GH",
  "tags": []
}