workflows/Team ali - agente (14).json
{
  "name": "Team ali - agente",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  COALESCE(l.estado_chat, 1) AS estado_chat,\n  COALESCE(l.whatsapp_id, $1) AS whatsapp_id\nFROM (SELECT 1) dummy\nLEFT JOIN leads l ON l.whatsapp_id = $1\nLIMIT 1;\n",
        "options": {
          "queryReplacement": "={{ $json.normalized.conversation.messages[0].sender.phone_number.replace('+', '') }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -480,
        6480
      ],
      "id": "c4be3081-d576-4bf8-b501-0596b61442b4",
      "name": "SQL - Cancelar Seguimiento",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "YT3mNrhEyWrQj9o3",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO leads (whatsapp_id, estado_chat, updated_at)\nVALUES ($1, 1, NOW())\nON CONFLICT (whatsapp_id) \nDO UPDATE SET \n  estado_chat = 1,\n  updated_at = NOW()\nRETURNING whatsapp_id, estado_chat;",
        "options": {
          "queryReplacement": "={{ $('Normalice1').item.json.normalized.conversation.messages[0].sender.phone_number }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        368,
        5984
      ],
      "id": "6c33ae74-00ad-41b7-8817-7609a33d0c67",
      "name": "Set Estado Chat en DB1",
      "credentials": {
        "postgres": {
          "id": "YT3mNrhEyWrQj9o3",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://mia-chatwoot.w9weud.easypanel.host//api/v1/accounts/2/conversations/{{ $('Normalice1').item.json.normalized.conversation.messages[0].conversation_id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "axxJevEaPpRy4VJTfHS93LQr"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": {{ (() => { const o = $('RAG Agent').item.json.output?.message; const isGarbage = o == null || typeof o !== 'string' || o.includes('messaging_product') || o.includes('wamid') || o.trim().startsWith('[') || o.trim().startsWith('{'); return isGarbage ? '\"Perfecto, registramos tu pedido 🏡 Andrés te va a contactar enseguida con opciones que se ajusten a lo que estás buscando. ¿Necesitás algo más mientras tanto?\"' : JSON.stringify(o); })() }},\n  \"message_type\": \"outgoing\",\n  \"private\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4560,
        6384
      ],
      "id": "ac39e4f8-f7cf-43b3-bc00-5cfc700f04f9",
      "name": "HTTP Request",
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "Xfa8MNHwcRpVe1r7",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "topN": 10
      },
      "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
      "typeVersion": 1,
      "position": [
        3872,
        6736
      ],
      "id": "f9b3bd64-f85a-4692-bfac-37131bd09f12",
      "name": "Reranker Cohere",
      "credentials": {
        "cohereApi": {
          "id": "6mDThtf9ooEIaxHA",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "=La herramienta hace busquedas de propiedades y devuelve la ficha de la propiedad con sus valores correspondientes, incluyendo el valor enlace ",
        "tableName": {
          "__rl": true,
          "value": "documents_1",
          "mode": "list",
          "cachedResultName": "documents_1"
        },
        "topK": 70,
        "useReranker": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        3824,
        6560
      ],
      "id": "9937a83f-9e73-43c9-9710-047f9a151dd6",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "k63Rdkg9hyaaztWV",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "content": "# RAG Agent\n",
        "height": 380,
        "width": 620,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2080,
        6352
      ],
      "id": "454f9442-d7bc-4fee-a332-4c8565fd0a36",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Vector Store w/ Reranker\n",
        "height": 396,
        "width": 380,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2704,
        6336
      ],
      "id": "a928c281-9839-4682-b7a8-5a6f0c3483a3",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=={{ $('Edit Fields').item.json.mensajeConContexto +  $('Edit Fields').item.json.audioConContexto  }} ",
        "options": {
          "systemMessage": "=Eres Maga, asistente de Andrés Ali, Corredor Inmobiliario en RE/MAX Diagonal II – City Bell.\n\n═══════════════════════════════════════════════════════════════\n\n\n🚨 REGLA ABSOLUTA DE SALIDA (CRÍTICA – PRIORIDAD MÁXIMA)\n\nTu output SIEMPRE es un objeto JSON con dos campos:\n{\n  \"message\": \"<texto WhatsApp para el cliente>\",\n  \"request_personalized_search\": null | { \"raw_query\": \"...\", \"lead_name\": \"...\", \"lead_number\": \"...\" }\n}\n\nEl campo `message` es lo que el cliente recibe DIRECTAMENTE por WhatsApp. Tratalo como si lo estuvieras escribiendo vos mismo en el chat.\n\n❌ NUNCA pongas en `message`:\n- Razonamiento, análisis, meta-comentarios, pensamientos\n- Explicaciones de lo que estás haciendo\n- Frases tipo \"Perfecto, veo que ya...\", \"Ahora estoy esperando...\", \"Una vez que el cliente responda...\", \"Continuaré la conversación...\"\n- Tercera persona (siempre segunda persona, hablale al cliente directo)\n- JSON crudo, código, objetos, datos técnicos\n- Mención de que no aceptás autos en parte de pago\n- Coordinación de visitas (solo llamadas)\n\n✅ SIEMPRE en `message`:\n- Texto natural en español, segunda persona\n- UN SOLO mensaje claro y conversacional\n- Si no corresponde responder nada al cliente: `message: \"👍\"`\n\n📦 `request_personalized_search`:\n- null en CUALQUIER caso normal (consulta por dirección, info financiera, captación, saludo, etc.)\n- Objeto { raw_query, lead_name, lead_number } SOLO cuando el cliente pidió propiedades por características (zona+presupuesto+features). Ver regla 14.\n════════════════════════════════════════════════════════════\n\n🎯 OBJETIVO PRINCIPAL\n\n═══════════════════════════════════════════════════════════════\n\nCalificar leads iniciando con un mensaje de apertura cálido, luego recopilar información financiera antes de enviar fichas de propiedades. Tu rol es atender al cliente\n\n═══════════════════════════════════════════════════════════════\n\n\n🟢 PRIMER MENSAJE (INICIO DE CONVERSACIÓN)\n\n═══════════════════════════════════════════════════════════════\n\n**IMPORTANTE:**\n- Si NO especifica propiedad: preguntá por cuál está consultando.\n- Si SÍ especifica propiedad: buscala en \"Supabase Vector Store\" y enviá los datos SIN el enlace como primer mensaje. Luego preguntá: \"¿Querés que te mande las imágenes?\"\n  - Si dice que sí: enviá el enlace y continuá con la calificación.\n  - Si dice que no: continuá directamente con la calificación.\n\nMensaje de apertura (solo si NO se identificó la propiedad):\n\"Hola! Mi nombre es Maga, asistente de Andres Ali de Remax diagonal II. ¿Por cuál propiedad estás consultando?\"\n\n═══════════════════════════════════════════════════════════════\n\n💬 TU PERSONALIDAD\n\n═══════════════════════════════════════════════════════════════\n\n✅ Sé conversacional, cálida y cercana\n✅ Pregunta UNA COSA a la vez\n✅ Mantén tono profesional pero accesible\n✅ Usa emojis con moderación\n\n❌ NO uses: \"che\", \"te copa\", \"dime\", \"hazme\", \"vale\"\n❌ NO te presentes mas de una vez, solo en el mensaje inicial\n\n\nSI NO HAY NADA QUE RESPONDER: Devuelve un un simple \"👍\" o \"te puedo ayudar con algo mas?\" segun sea el caso\n\n═══════════════════════════════════════════════════════════════\n\n📋 SECUENCIA DE CALIFICACIÓN\n\n═══════════════════════════════════════════════════════════════\nSigue este orden (adaptándote al flujo natural):\n\n1️⃣ ENVÍO DE FICHA  \nSaluda presentandote como Maga, asistente de Andres Ali - Remax diagonal II. Usa \"Supabase Vector Store\" para buscar la propiedad.  \nEnvía los datos de la propiedad SIN el enlace junto con la pregunta(MUY IMPORTANTE): \"¿Estas en condiciones de comprar en este rago o estas buscando algo mas accesible?\" envia las dos cosas juntas \n\n⚡ REGLA CRÍTICA — RESPUESTA AL \"SÍ\":\nSi el usuario responde afirmativamente (sí, me gusta, está bien, me interesa, etc.):\nEn UN SOLO mensaje enviá:\n  1. El enlace de la propiedad\n  2. Inmediatamente después: \"¿Tu búsqueda es con banco o efectivo?\"\nNO separes estos dos elementos en mensajes distintos.\n\n\nb) Si dice que no: preguntá qué rango de valor es su búsqueda.\n\n2️⃣ FORMA DE PAGO  \nSi responde banco: \"¿Ya tenés la precalificación?\"  \nAlternativa: \"¿Necesitás vender una propiedad para comprar?\"\n\n3️⃣ SITUACIÓN FINANCIERA  \nSi mencionó banco: \"¿Tenés preaprobación? ¿De qué banco?\"\n\n5️⃣ MANEJO DE OBJECIONES DE PRECIO  \nSI DICE QUE ES CARO (detecta: \"muy caro\", \"más barato\", \"no me alcanza\", \"fuera de presupuesto\"):  \n- Llamá a la herramienta \"busqueda personalizada\"\n- Buscá en el contexto \"Alternativas de menor valor\"  \n- Respondé:  \n  \"Entiendo que buscás algo más económico 💰  \n  Te paso estas alternativas de menor valor:  \n  [Alternativas de menor valor]  \n  ¿Querés que te cuente más sobre alguna?\"\n\nMANEJO DE OBJECIONES DE COMODIDADES (PATIO, DORMITORIOS, ETC):  \n- Buscá en el contexto de la misma propiedad por la que consultó y enviá el contenido de \"Alternativas de mayor valor\" (ejemplo: si consultó por propiedad X, buscá el valor \"Alternativas de mayor valor\" correspondiente a esa propiedad)\n- Usá el mismo formato de respuesta\n- Si al cliente no le gusta ninguna opción, ofrecé una búsqueda personalizada con Andrés y llamá a la herramienta \"busqueda personalizada\"\n- Si necesita vender primero o menciona tener una propiedad para vender: procedé con el flujo de captación\n\n6️⃣ CIERRE EN LLAMADA (OBLIGATORIO)  \nCuando hay interés real Y ya conocés su situación financiera:  \n- SIEMPRE ofrecé llamada con Andrés  \n- Si muestra interés en tener una llamada o agendar, llamá a la herramienta \"agendo llamada\"\n- Usá frases como:  \n  * \"¿Querés que Andrés te llame para coordinar la visita?\"  \n  * \"¿Qué momento te viene mejor?\"\n\n- No hagas demasiadas preguntas para la llamada\n- Solo necesitás saber si quiere que lo llames, no busques un horario específico\n- Si muestra intención de llamada, solo decile que lo vamos a llamar y despedite sin nada más, sin ningún agregado\n- Si coordinás una llamada: \"Perfecto, queda agendado!\" y llamá a la herramienta \"agendo llamada1\"\n- Si el usuario muestra intención de coordinar una llamada, llamá a la tool \"agendo llamada1\"\n- Si pide una visita, primero coordiná una llamada con Andrés\n- Nunca coordinés una visita, eso es después de la llamada con Andrés\n- Una vez se empieza a coordinar la llamada, usá la herramienta \"agendo llamada1\"\n\n⚠️ IMPORTANTE:  \n- Si tenés presupuesto y modo de financiación, ofrecé una llamada directamente\n- NUNCA ofrezcas una llamada sin saber el presupuesto primero\n- Nunca confirmés una visita, solo coordinás llamadas\n- NUNCA ofrezcas hora exacta (Ej: \"a las 15hs\")  \n- Si el cliente pide que enviés la ficha, mandásela de inmediato\n- Si el cliente pide detalles de la propiedad que no tenés, ofrecé coordinar una llamada con Andrés\n- SIEMPRE ofrecé rangos (mañana, tarde, noche)  \n- NO coordinés visitas sin pasar por llamada primero  \n- NO ofrezcas llamada si no conocés su preaprobación y presupuesto\n- Sé simple, no hagas demasiadas preguntas más que el rango horario y el día; con eso cerrá la llamada diciendo: \"Perfecto, te vamos a estar llamando :)\"\n- Si el usuario muestra interés en coordinar una llamada: llamá a la tool \"agendo llamada1\"\n\n═══════════════════════════════════════════════════════════════\n\n🏠 CAPTACIÓN DE PROPIEDADES (VENTA O PERMUTA)\n\n═══════════════════════════════════════════════════════════════\n\nSI EL CLIENTE MENCIONA:\n- \"Tengo una propiedad para vender\"\n- \"¿Aceptan permutas?\"\n- \"Necesito vender mi casa primero\"\n- Cualquier variante sobre vender o permutar\n\nSECUENCIA DE CAPTACIÓN (pregunta de a UNA por vez):\n\n1️⃣ UBICACIÓN  \n\"Genial, para poder ayudarte mejor, ¿en qué zona está ubicada tu propiedad?\"\n\n2️⃣ ESCRITURA  \n\"¿La propiedad tiene escritura al día?\"\n\n3️⃣ CARACTERÍSTICAS  \n\"Contame un poco sobre tu propiedad: ¿cuántos ambientes tiene, metros aproximados, alguna característica destacada?\"\n\n4️⃣ CIERRE EN LLAMADA (OBLIGATORIO)  \nUna vez que tengas ubicación, escritura y características:  \n\"Perfecto, con esta info Andrés puede darte una mejor orientación 📞  \n¿Querés que te llame para hacer una tasación y ver las opciones que tenés?\"\n\n⚠️ IMPORTANTE CAPTACIÓN:  \n- NO pidas fotos, videos ni documentación  \n- Mantén el tono conversacional y empático  \n- La llamada es el objetivo final también en captación  \n- Si menciona permuta Y está buscando comprar, recopila info de AMBAS propiedades\n\n═══════════════════════════════════════════════════════════════\n\n⚠️ REGLAS CRÍTICAS\n\n═══════════════════════════════════════════════════════════════\n\n1. **SIEMPRE verifica que la dirección de la propiedad esté clara antes de proceder con la calificación**\n2. Si el cliente consulta sin especificar propiedad, pregunta PRIMERO por cuál propiedad está consultando\n3. Cada ficha se envía UNA SOLA VEZ por propiedad  \n4. Pregunta de a UNA cosa por vez  \n5. La llamada con Andrés es el cierre OBLIGATORIO de toda conversación exitosa  \n6. NO inventes links ni compartas ningún enlace que no provenga del \"Supabase Vector Store\"\n7. NO ofrezcas ni menciones videos, planos, recorridos virtuales ni materiales adicionales. Sí podés ofrecer imágenes preguntando \"¿Querés que te mande las imágenes?\" después de enviar los datos de la propiedad.\n8. El ÚNICO link que podés enviar es el que proviene directamente de la herramienta \"Supabase Vector Store\", y solo lo enviás si el cliente pidió ver las imágenes.\n9. Si el contexto no incluye la dirección de la propiedad, pregunta nuevamente por cual propiedad está consultando\n10. En captación de propiedades, NO pidas documentación ni fotos, solo info conversacional\n11. NO te presentes mas de una vez, solo en el mensaje inicial\n12. NUNCA agendas una visita, siempre agendas llamadas\n13. si el cliente envia un audio , pide que escriba el mensaje ya que no podes escuchar audios \n14. Si el cliente menciona una preferencia o petición específica (zona, barrio, cantidad de ambientes, características particulares, etc.):\n   a) Llamá a \"Supabase Vector Store\" con esas características para encontrar opciones que coincidan.\n   b) En tu output, completá `message` con las opciones encontradas en texto natural (formato WhatsApp con emojis y precios) + frase tipo \"También le aviso a Andrés para que te busque alternativas a medida\".\n   c) Completá `request_personalized_search` con un objeto: { raw_query: resumen breve de lo que pide, lead_name: nombre del cliente del contexto, lead_number: número del cliente formato +549... }. El sistema notificará automáticamente a Andrés.\n   d) Si el Vector Store NO devuelve coincidencias buenas, igual completá `message` explicando \"No encontré exactamente eso en stock, pero le paso tu pedido a Andrés...\" y SÍ completá `request_personalized_search`.\n15. Si el cliente pide una visita o llamada primero debes calificar antes de agendar llamada\n16. Tu output SIEMPRE debe ser un objeto JSON con dos campos:\n   - `message` (string): texto natural en español, listo para enviar por WhatsApp. NUNCA debe contener JSON crudo, objetos, código, ni datos técnicos.\n   - `request_personalized_search` (object | null): completá con el objeto { raw_query, lead_name, lead_number } SOLO cuando el cliente pidió propiedades por características (regla 14). En CUALQUIER OTRO CASO debe ser null (consultas por dirección, info financiera, captación de venta, saludos, etc.).\n\n═══════════════════════════════════════════════════════════════\n\n✅ RECORDATORIO FINAL\n\n═══════════════════════════════════════════════════════════════\n\nTu meta es:\n- Identificar la propiedad de consulta ANTES de calificar\n- Ser útil y humana  \n- Calificar financieramente al lead (compra) o recopilar info clave (venta/permuta/presupuesto)\n- SIEMPRE cerrar en llamada con Andrés cuando hay interés genuino  \n\nLa llamada NO es opcional: es el objetivo final de cada conversación exitosa."
        },
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        3536,
        6240
      ],
      "id": "34eec47d-f64e-4cd9-ae9f-756532f13b7b",
      "name": "RAG Agent"
    },
    {
      "parameters": {
        "contextWindowLength": 7
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        3344,
        6736
      ],
      "id": "56e27dfc-9756-40bd-9ddf-4ee903f30185",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "YT3mNrhEyWrQj9o3",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "audio",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2544,
        6000
      ],
      "id": "2cb79e75-cc84-4daa-8621-21ab4b7ae97e",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "BPTkrfKD8LOqnHgE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "get-media-base64",
        "instanceName": "={{ $('Webhook').item.json.body.instance }}",
        "messageId": "={{ $('Webhook').item.json.body.data.key.id }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1856,
        6000
      ],
      "id": "4b8bc32f-fb90-4e0c-9bea-9ad146743644",
      "name": "Obter m dia em base1",
      "credentials": {
        "evolutionApi": {
          "id": "JrhtEnlUegX9ixC7",
          "name": "Evolution account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data.base64",
        "binaryPropertyName": "audio",
        "options": {
          "mimeType": "audio/mp3"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2160,
        6000
      ],
      "id": "751f6ee5-62ba-401f-8d34-e0fe4f83d076",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "51ab2396-ecef-4d8e-9c3b-210f1af0412d",
              "leftValue": "={{ $('Normalice1').item.json.normalized.message.attachments[0].file_type }}",
              "rightValue": "=audio",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1504,
        6544
      ],
      "id": "0e72a192-e856-4e3d-a298-5fb13c1e9007",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT is_active FROM agent_status WHERE id = 1;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        352,
        6464
      ],
      "id": "bbd2c323-8cb2-43b2-859a-b883773280fe",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "YT3mNrhEyWrQj9o3",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3051bcde-ec1d-49aa-854d-19ac7751dcf5",
              "leftValue": "=={{ $json[\"is_active\"] }}",
              "rightValue": "==true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "010b770d-b628-4c53-8a2a-661ef0d3eb79",
              "leftValue": "={{ $('Normalice1').item.json.normalized.conversation.messages[0].sender.phone_number }}",
              "rightValue": "=+5492216273335",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1152,
        6560
      ],
      "id": "cbb790ea-e5f1-4434-9c30-a0b517f60bb6",
      "name": "If16",
      "executeOnce": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "16bc083f-880d-4a27-a4a0-b482a9bde8da",
              "name": "sessionId",
              "value": "={{ $('Webhook').item.json.body.conversation.messages[0].id }}",
              "type": "string"
            },
            {
              "id": "b0dac7b9-a371-4bb7-aa88-ebb653237973",
              "name": "mensajeConContexto",
              "value": "={{ $json.contextoManual ? ($json.contextoManual + '\\n\\n' + $json.mensajesTexto) : $json.mensajesTexto + $('Transcribe a recording').item.json.text}}",
              "type": "string"
            },
            {
              "id": "f6deef97-129a-49cc-b76f-ea7cd6ced223",
              "name": "audioConContexto",
              "value": "={{ $json.contextoManual ? ($json.contextoManual + '\\n\\n' + $json.mensajesTexto) : $json.mensajesTexto + $('Transcribe a recording').item.json.text}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3344,
        6240
      ],
      "id": "3155f4fc-b1f0-45b9-9a74-655c74a0159d",
      "name": "Edit Fields",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2368,
        6752
      ],
      "id": "d46faa85-578a-4161-acce-1d5a7789126e",
      "name": "Wait1",
      "webhookId": "96c27c05-96e6-490e-ac24-3c38c75c7d9b"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "Mensaje",
        "key": "={{ $('Normalice1').item.json.normalized.conversation.messages[0].sender.phone_number }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2080,
        6560
      ],
      "id": "ae8aa8c5-0a92-4533-a05d-ed10fef3386d",
      "name": "bufferRedis1",
      "credentials": {
        "redis": {
          "id": "IqjVekrFmnlXftuo",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Normalice1').item.json.normalized.conversation.messages[0].sender.phone_number }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2576,
        6560
      ],
      "id": "754df624-8f0a-458d-aa03-034f17138023",
      "name": "borrarRedis",
      "credentials": {
        "redis": {
          "id": "IqjVekrFmnlXftuo",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2576,
        6400
      ],
      "id": "f8e778f4-98f1-470d-b356-e002ba88bd83",
      "name": "sinAccion1"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Normalice1').item.json.normalized.conversation.messages[0].sender.phone_number }}",
        "messageData": "={{ JSON.stringify({\n    message :$('Normalice1').item.json.normalized.conversation.messages[0].content ,\nsessionID:$('Normalice1').item.json.normalized.conversation.contact_inbox.id ,\ndate_time : $('Webhook').item.json.body.created_at\n}) }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1808,
        6560
      ],
      "id": "ae2595f1-74ee-43ac-98d5-2548f2f0941b",
      "name": "pushRedis1",
      "alwaysOutputData": false,
      "credentials": {
        "redis": {
          "id": "IqjVekrFmnlXftuo",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ JSON.parse(\n  $json.Mensaje\n    .filter(m => m.trim().startsWith('{'))\n    .slice(-1)[0]\n    .split('||')[0]\n    .trim()\n).sessionID }}\n",
                    "rightValue": "={{ $('Normalice1').item.json.normalized.conversation.contact_inbox.id }}",
                    "operator": {
                      "type": "number",
                      "operation": "notEquals"
                    },
                    "id": "81c7205c-84c9-480e-8b5a-1a12b5ff7baa"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ignorar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4fca4c39-e8bf-490b-8e2e-176c95d9156e",
                    "leftValue": "={{\n  (() => {\n    try {\n      const mensaje = $json.Mensaje\n        .filter(m => m.trim().startsWith('{'))\n        .slice(-1)[0]\n        .split('||')[0]\n        .trim();\n      \n      const parsedDate = JSON.parse(mensaje).date_time;\n      \n      // Intentar primero con DateTime.fromISO\n      const dateTime = DateTime.fromISO(parsedDate);\n      \n      // Si es válido, retornar el DateTime\n      if (dateTime.isValid) {\n        return dateTime;\n      }\n      \n      // Si no es válido como ISO, intentar parsearlo como timestamp u otro formato\n      // Intentar como timestamp (número)\n      if (!isNaN(parsedDate)) {\n        return DateTime.fromMillis(Number(parsedDate));\n      }\n      \n      // Intentar otros formatos comunes\n      return DateTime.fromSQL(parsedDate) || \n             DateTime.fromHTTP(parsedDate) || \n             DateTime.fromRFC2822(parsedDate) ||\n             parsedDate;\n      \n    } catch (error) {\n      return null;\n    }\n  })()\n}}",
                    "rightValue": "={{ $now.minus(7, 'seconds').toLocal() }}",
                    "operator": {
                      "type": "dateTime",
                      "operation": "before"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Continuar"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Esperar"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2368,
        6480
      ],
      "id": "6dbdf6fb-eada-478d-af1b-ebe265e94d87",
      "name": "Switch1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7b81f90e-0cdc-42d0-8ec1-7d6a8dd320b6",
              "leftValue": "={{ $('Normalice1').item.json.normalized.conversation.messages[0].content }}",
              "rightValue": "Hola! Quiero coordinar una llamada sobre el depto de Plaza Paso",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "8cf3774b-e9df-48c3-9873-22ff77e1527f",
              "leftValue": "={{ $('Normalice1').item.json.normalized.conversation.messages[0].content }}",
              "rightValue": "Hola! Quiero más información sobre el depto de Plaza Paso",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "7010cb70-2f2c-4ff7-839f-48d477111eda",
              "leftValue": "={{ $('Normalice1').item.json.normalized.conversation.messages[0].content }}",
              "rightValue": "Hola! Quiero agendar una visita en el depto de Plaza Paso",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "aa409b85-1927-4309-ba09-7f7265342d5b",
              "leftValue": "={{ $('Normalice1').item.json.normalized.conversation.messages[0].content }}",
              "rightValue": "Hola! Quiero coordinar una llamada sobre Haras del Sur II",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "0ceba8b6-31f6-47ee-b083-962befdce0bb",
              "leftValue": "={{ $('Normalice1').item.json.normalized.conversation.messages[0].content }}",
              "rightValue": "Hola! Quiero agendar una visita en Haras del Sur II",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "dab8fdb6-e308-407a-8df7-b3cdf0f2b8d4",
              "leftValue": "={{ $('Normalice1').item.json.normalized.conversation.messages[0].content }}",
              "rightValue": "Hola! Quiero agendar una visita en Haras del Sur II",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "0b6cc0de-2e12-41bd-b17d-dbb7c8e189cf",
              "leftValue": "={{ $('Normalice1').item.json.normalized.conversation.messages[0].content }}",
              "rightValue": "Hola! Quiero coordinar una llamada sobre 60 e/ 15 y 16",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "428b0979-9ecd-46a1-8dd4-8834cf306456",
              "leftValue": "={{ $('Normalice1').item.json.normalized.conversation.messages[0].content }}",
              "rightValue": "Hola! Quiero más información de 60 e/ 15 y 16",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "4f52295a-d3eb-4e6e-b513-fe33922cbccc",
              "leftValue": "={{ $('Normalice1').item.json.body.messages[0].content }}",
              "rightValue": "Hola! Quiero agendar una visita en 60 e/ 15 y 16",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -304,
        6176
      ],
      "id": "07a5b67a-d931-4c9b-8ef2-0c8d100daf65",
      "name": "If17"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3051bcde-ec1d-49aa-854d-19ac7751dcf5",
              "leftValue": "={{ $('Normalice1').item.json.normalized.conversation.messages[0].content }}",
              "rightValue": "=Hola! Quiero coordinar una llamada sobre 139 e/ 64 y 65",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "3b5e2fbb-a33f-4256-b2ef-a9fdd934ef50",
              "leftValue": "={{ $('Normalice1').item.json.normalized.conversation.messages[0].content }}",
              "rightValue": "Hola! Quiero más información de 139 e/ 64 y 65",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "8eeba288-096a-484f-906b-af240099117f",
              "leftValue": "={{ $('Webhook').item.json.body.conversation.messages[0].content }}",
              "rightValue": "Hola! Quiero agendar una visita en 139 e/ 64 y 65",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "1f7083c6-13be-4d36-87da-55176b393fb7",
              "leftValue": "={{ $('Webhook').item.json.body.conversation.messages[0].content }}",
              "rightValue": "Hola! Quiero coordinar una llamada sobre 27 e/ 496 y 497",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "4a8e9d33-dcb9-46a8-af1c-2903edf6b31b",
              "leftValue": "={{ $('Webhook').item.json.body.conversation.messages[0].content }}",
              "rightValue": "Hola! Quiero más información de 27 e/ 496 y 497",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "2b47d5b0-de53-4e05-a22c-40ffc5f984a6",
              "leftValue": "={{ $('Webhook').item.json.body.conversation.messages[0].content }}",
              "rightValue": "Hola! Quiero agendar una visita en 27 e/ 496 y 497",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "9b075d5b-add6-42c9-b391-ef0149736f3f",
              "leftValue": "Hola! Quiero más información de 60 e/ 15 y 16",
              "rightValue": "={{ $('Webhook').item.json.body.conversation.messages[0].content }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -32,
        6192
      ],
      "id": "34ffad50-9a03-4110-8414-64555f196978",
      "name": "If18",
      "executeOnce": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6d52bd36-b56f-411d-a5e3-2094e1ea8d73",
              "leftValue": "={{ $json.estado_chat }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -208,
        6480
      ],
      "id": "ae699b74-e2f4-4c88-8d61-29c9e4e56047",
      "name": "Is Conv Active?",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "e73b87b2-76b2-4ac6-bc0a-da3a676e48b0",
              "leftValue": "={{ $('Webhook').item.json.body.sender.identifier }}",
              "rightValue": "=ad",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -672,
        6160
      ],
      "id": "8728a2b3-dc32-42fd-bbe9-1d8b730c280d",
      "name": "If19"
    },
    {
      "parameters": {
        "jsCode": "// ===================================================\n// FORMATEAR HISTORIAL - ÚLTIMOS 10 MENSAJES\n// ===================================================\n\nconst normalized = $('Normalice1').item.json.normalized;\nconst historialResponse = $input.first().json;\n\n// ==============================\n// DATOS DEL CONTACTO\n// ==============================\nconst from = normalized.whatsapp_id || 'desconocido';\nconst contactName = normalized.contact_name || 'Cliente';\n\nconsole.log('=== PROCESANDO HISTORIAL DE CHATWOOT ===');\nconsole.log('From:', from);\nconsole.log('Contact name:', contactName);\n\n// ==============================\n// OBTENER MENSAJES DEL HISTORIAL\n// ==============================\nlet mensajes = [];\n\n// Chatwoot puede devolver array directo o dentro de \"payload\" o \"data\"\nif (Array.isArray(historialResponse)) {\n  mensajes = historialResponse;\n} else if (historialResponse.payload && Array.isArray(historialResponse.payload)) {\n  mensajes = historialResponse.payload;\n} else if (historialResponse.data && Array.isArray(historialResponse.data)) {\n  mensajes = historialResponse.data;\n}\n\nconsole.log('Total mensajes encontrados en historial:', mensajes.length);\n\nif (mensajes.length === 0) {\n  return [{\n    json: {\n      contextoManual: '',\n      sinMensajes: true,\n      from,\n      contactName\n    }\n  }];\n}\n\n// ==============================\n// ORDENAR (más antiguos primero)\n// ==============================\nmensajes.sort((a, b) => {\n  const tA = a.created_at || 0;\n  const tB = b.created_at || 0;\n  return tA - tB;\n});\n\n// ==============================\n// TOMAR ÚLTIMOS 10 MENSAJES\n// ==============================\nconst mensajesRecientes = mensajes.slice(-10);\n\nconsole.log('Mensajes a procesar (últimos 10):', mensajesRecientes.length);\n\n// ==============================\n// FORMATEAR CONVERSACIÓN\n// ==============================\nconst conversacion = mensajesRecientes\n  .map(msg => {\n    // Ignorar mensajes de actividad (message_type: 2)\n    if (msg.message_type === 2) {\n      return null;\n    }\n\n    // Determinar si es del cliente o del agente\n    // message_type: 0 = incoming (cliente)\n    // message_type: 1 = outgoing (agente/bot)\n    const esCliente = msg.message_type === 0;\n\n    let contenido = msg.content || '';\n\n    // Manejar attachments\n    if (msg.attachments && msg.attachments.length > 0) {\n      const attachment = msg.attachments[0];\n      if (attachment.file_type === 'image') {\n        contenido = `[Imagen${contenido ? ': ' + contenido : ''}]`;\n      } else if (attachment.file_type === 'audio') {\n        contenido = '[Audio]';\n      } else if (attachment.file_type === 'video') {\n        contenido = '[Video]';\n      } else if (attachment.file_type === 'file') {\n        contenido = `[Documento${contenido ? ': ' + contenido : ''}]`;\n      } else {\n        contenido = `[${attachment.file_type}]`;\n      }\n    }\n\n    // Si no hay contenido, saltar\n    if (!contenido) {\n      return null;\n    }\n\n    const quien = esCliente ? 'CLIENTE' : 'TÚ (ANDRÉS)';\n\n    // Convertir timestamp Unix a fecha legible (Argentina)\n    const fecha = new Date(msg.created_at * 1000);\n    const timestamp = fecha.toLocaleString('es-AR', {\n      timeZone: 'America/Argentina/Buenos_Aires',\n      day: '2-digit',\n      month: '2-digit',\n      hour: '2-digit',\n      minute: '2-digit'\n    });\n\n    return `[${timestamp}] ${quien}: ${contenido}`;\n  })\n  .filter(Boolean)\n  .join('\\n');\n\n// ==============================\n// CONTEXTO FINAL\n// ==============================\nconst contextoManual = `\n═══════════════════════════════════════════════════════\n⚠️  CONTEXTO IMPORTANTE - AGENTE REACTIVADO\n═══════════════════════════════════════════════════════\n\nMientras estuviste INACTIVO, hubo esta conversación donde TÚ (Andrés) respondiste manualmente:\n\n${conversacion}\n\n═══════════════════════════════════════════════════════\nINSTRUCCIONES CRÍTICAS:\n- Retomas ahora la conversación automáticamente\n- Tienes TODO el contexto de lo que Andrés habló manualmente\n- NO repitas información que Andrés ya dio\n- NO vuelvas a hacer preguntas que Andrés ya hizo\n- Continúa naturalmente desde el último mensaje\n- Si ya se coordinó algo, respétalo y no lo cambies\n═══════════════════════════════════════════════════════\n`;\n\nconsole.log('✅ Contexto manual generado');\nconsole.log('Mensajes procesados:', mensajesRecientes.length);\nconsole.log('Últimos 3 mensajes:', conversacion.split('\\n').slice(-3).join('\\n'));\n\nreturn [{\n  json: {\n    contextoManual,\n    totalMensajes: mensajesRecientes.length,\n    from,\n    contactName,\n    ultimoMensaje: conversacion.split('\\n').pop(),\n    mensajesCompletos: conversacion\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2352,
        6992
      ],
      "id": "f1e16bde-3018-44d5-965c-1f6afd2d09dc",
      "name": "Formatear Historial"
    },
    {
      "parameters": {
        "url": "=https://mia-chatwoot.w9weud.easypanel.host/api/v1/accounts/2/conversations/{{ $('Normalice1').item.json.normalized.conversation.id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "axxJevEaPpRy4VJTfHS93LQr"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1136,
        6992
      ],
      "id": "6dd24dc5-f9b0-4648-a77e-ece5b1cc201c",
      "name": "Obtener Historial Evolution",
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "jsCode": "const estadoAgente = $input.first().json.is_active;\nconst webhookData = $('Webhook').first().json;\n\n// ✅ ESTRUCTURA CHATWOOT\nconst from = webhookData.body.conversation.contact_inbox.source_id;\nconst texto = webhookData.body.content?.trim().toLowerCase();\nconst conversationId = webhookData.body.conversation.id;\nconst inboxId = webhookData.body.inbox.id;\nconst contactName = webhookData.body.sender.name;\nconst accountId = webhookData.body.account.id;\n\nconsole.log('=== VERIFICANDO REACTIVACIÓN ===');\nconsole.log('Estado agente:', estadoAgente);\nconsole.log('Comando recibido:', texto);\nconsole.log('From (número):', from);\nconsole.log('Contact Name:', contactName);\nconsole.log('Conversation ID:', conversationId);\nconsole.log('Inbox ID:', inboxId);\nconsole.log('Account ID:', accountId);\n\n// Validar que tenemos los datos mínimos\nif (!from) {\n  console.log('❌ No se pudo extraer el número del remitente');\n  return [{\n    json: {\n      error: true,\n      motivo: 'No se pudo extraer from del webhook'\n    }\n  }];\n}\n\n// Si el agente está activo Y el comando fue \"...\" (reactivación)\nif (estadoAgente === true && texto === '...') {\n  console.log('🟢 REACTIVACIÓN DETECTADA - Sincronizar mensajes desde Chatwoot');\n  \n  return [{\n    json: {\n      is_active: true,\n      requiere_sincronizacion: true,\n      from: from,\n      contactName: contactName,\n      chatwootConversationId: conversationId,\n      chatwootInboxId: inboxId,\n      accountId: accountId\n    }\n  }];\n}\n\n// Si el agente está activo pero NO es comando de reactivación\nif (estadoAgente === true) {\n  console.log('✅ Agente activo - continuar flujo normal');\n  return [{\n    json: {\n      is_active: true,\n      requiere_sincronizacion: false,\n      from: from,\n      contactName: contactName,\n      conversationId: conversationId,\n      continuar_flujo_normal: true\n    }\n  }];\n}\n\n// Si el agente está inactivo\nconsole.log('🔴 Agente inactivo');\nreturn [{\n  json: {\n    is_active: false,\n    requiere_sincronizacion: false,\n    from: from,\n    contactName: contactName,\n    conversationId: conversationId\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        6720
      ],
      "id": "47ebcfb2-0768-4022-a9e0-46361ae8b9dd",
      "name": "Detectar Reactivación"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3120,
        6544
      ],
      "id": "d6bb1aad-dd41-4258-bc4f-725f0cd285a3",
      "name": "Merge Contexto",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3051bcde-ec1d-49aa-854d-19ac7751dcf5",
              "leftValue": "=={{ $json[\"is_active\"] }}",
              "rightValue": "==true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "923aa7ad-0c63-49df-9da8-7429cc9a8e5e",
              "leftValue": "={{ $('Normalice1').item.json.normalized.conversation.messages[0].sender.phone_number }}",
              "rightValue": "=+5492216273335",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        336,
        6784
      ],
      "id": "e01092af-e2d7-4523-8e4b-0db4fc3d0cd6",
      "name": "If20",
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "// ===================================================\n// VERIFICAR Y PROGRAMAR SEGUIMIENTO 24H — NORMALICE\n// ===================================================\n\nconst normalized = $('Normalice1').item.json.normalized;\nconst respuestaEnviada = $input.first().json;\n\n// ==============================\n// EXTRAER DATOS\n// ==============================\nconst remoteJid =\n  normalized.conversation.messages[0]?.sender?.phone_number ||\n  'desconocido';\n\nconst sessionId =\n  normalized.conversation.contact_inbox?.id ||\n  remoteJid;\n\n// Conversation ID lógico (ya no depende de Chatwoot)\nconst conversationId =\n  normalized.conversation.id ||\n  `${remoteJid}-${sessionId}`;\n\nconsole.log('=== VERIFICAR Y PROGRAMAR SEGUIMIENTO 24H ===');\nconsole.log('Remote JID (phone):', remoteJid);\nconsole.log('Session ID:', sessionId);\nconsole.log('Conversation ID:', conversationId);\n\n// ==============================\n// NO PROCESAR NÚMERO DE ANDRÉS\n// ==============================\nif (remoteJid === '5492214633333' || remoteJid === '+5492214633333') {\n  console.log('⭐️ Saltando número de Andrés');\n  return [];\n}\n\n// ==============================\n// CALCULAR FECHA DE SEGUIMIENTO\n// ==============================\nconst ahora = new Date();\nconst fechaSeguimiento = new Date(\n  ahora.getTime() + (22 * 60 * 60 * 1000)\n);\n\nconst fechaSeguimientoISO = fechaSeguimiento.toISOString();\n\nconsole.log('Fecha seguimiento programada (UTC):', fechaSeguimientoISO);\n\n// ==============================\n// INSERT SEGUIMIENTO (ANTI-DUPLICADOS)\n// ==============================\nreturn [{\n  json: {\n    query: `\n      INSERT INTO cola_seguimientos (\n        remote_jid,\n        session_id,\n        chatwoot_conversation_id,\n        fecha_programada,\n        estado,\n        fecha_ultima_interaccion\n      )\n      SELECT $1, $2, $3, $4::timestamptz, 'pendiente', NOW()\n      WHERE NOT EXISTS (\n        SELECT 1\n        FROM cola_seguimientos\n        WHERE remote_jid = $1\n          AND estado = 'pendiente'\n          AND fecha_programada::date = $4::timestamptz::date\n      )\n      RETURNING id, remote_jid, chatwoot_conversation_id, fecha_programada;\n    `,\n    parameters: [\n      remoteJid,\n      sessionId,\n      conversationId,\n      fechaSeguimientoISO\n    ]\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4240,
        6144
      ],
      "id": "70960d35-eb27-463c-8cb1-6ea5ca0f0548",
      "name": "Code - Registrar para Seguimiento"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.query }}",
        "options": {
          "queryReplacement": "={{ $json.parameters }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4544,
        6144
      ],
      "id": "75de3cea-7cf7-4d01-a101-86df18a6dd43",
      "name": "SQL - Agregar a Cola Seguimiento",
      "credentials": {
        "postgres": {
          "id": "YT3mNrhEyWrQj9o3",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dd134e67-3aa2-4d6f-ab1f-01793a1dbe7b",
              "leftValue": "={{ $json.normalized.conversation.messages[0].sender.phone_number }}",
              "rightValue": "=5492216273335",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -784,
        6464
      ],
      "id": "26d384c1-68d4-4da1-b635-e2a115d47194",
      "name": "If21"
    },
    {
      "parameters": {
        "jsCode": "const webhookData = $('Webhook').first().json;\nconst ejecutarSQL = $('Execute a SQL query').first().json;\n\n// Extraer datos\nconst remoteJid = webhookData?.body?.conversation?.contact_inbox?.source_id;\nconst mensaje = webhookData?.body?.content || '';\nconst pushName = webhookData?.body?.sender?.name || null;\nconst chatwootConversationId = webhookData?.body?.conversation?.id || null;\n\nconsole.log('Remote JID:', remoteJid);\nconsole.log('Mensaje:', mensaje);\n\n// Validaciones\nif (!remoteJid || !mensaje) {\n  console.log('❌ Faltan datos');\n  return [];\n}\n\nconst whatsappId = remoteJid.replace('+', '');\n\n// No guardar comandos ni mensajes de Andrés\nconst textoLimpio = mensaje.trim().toLowerCase();\nif (textoLimpio === '..' || textoLimpio === '...' || \n    whatsappId === '5492216273335' || whatsappId === '5492214633333') {\n  console.log('⏭️ Saltando mensaje');\n  return [];\n}\n\n// Usar NOW() en vez de pasar timestamp\nconst query = `\n  INSERT INTO mensajes_pendientes (\n    remote_jid,\n    mensaje,\n    push_name,\n    chatwoot_conversation_id,\n    fecha_recibido,\n    estado,\n    intentos_procesamiento\n  )\n  VALUES (\n    '${whatsappId}',\n    '${mensaje.replace(/'/g, \"''\")}',\n    ${pushName ? `'${pushName.replace(/'/g, \"''\")}'` : 'NULL'},\n    ${chatwootConversationId || 'NULL'},\n    NOW(),\n    'pendiente',\n    0\n  )\n  ON CONFLICT (remote_jid, fecha_recibido) \n  DO UPDATE SET\n    mensaje = EXCLUDED.mensaje,\n    push_name = EXCLUDED.push_name,\n    chatwoot_conversation_id = EXCLUDED.chatwoot_conversation_id\n  RETURNING id, remote_jid, mensaje;\n`;\n\nconsole.log('Query generado OK');\n\nreturn [{ json: { query: query } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        7072
      ],
      "id": "eaafd0bf-f85d-4bde-a1c5-690c779e45d0",
      "name": "Guardar mensaje si inactivo"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "gpt-5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3344,
        6608
      ],
      "id": "20ee0293-8c92-4f38-95fb-35bc29ef62b8",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "BPTkrfKD8LOqnHgE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.query }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        336,
        7328
      ],
      "id": "c01e7101-7e94-4587-a846-617216a767cc",
      "name": "SQL - Guardar Mensaje Pendiente",
      "credentials": {
        "postgres": {
          "id": "YT3mNrhEyWrQj9o3",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Lista de JIDs a borrar\nconst jidsABorrar = [\n  \"+5492214957804\"\n];\n\nreturn jidsABorrar.map(jid => ({\n  json: { key: jid }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        7120
      ],
      "id": "f300a704-5e39-4ab1-bd74-6fd00b5c5d16",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=campaña_ocho:{{ $json.key }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -80,
        7120
      ],
      "id": "841decae-5ea0-4409-9eb1-827a6fe9ac15",
      "name": "borrarRedis6",
      "credentials": {
        "redis": {
          "id": "IqjVekrFmnlXftuo",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const jidsAVerificar = [\n  \n  \"+5492214957804\"\n];\n\nreturn jidsAVerificar.map(jid => ({\n  json: { \n    key: jid,\n    tipo: \"mensaje\" // o el tipo de key que sea\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        7312
      ],
      "id": "f4c3ca08-5401-4e0c-b1c9-84fe74a06c5e",
      "name": "Code10"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "campaña_ocho",
        "key": "=campaña_ocho:{{ $json.key }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -80,
        7312
      ],
      "id": "d7ad6433-6e02-4f2a-afb6-4c07110fc961",
      "name": "borrarRedis7",
      "credentials": {
        "redis": {
          "id": "IqjVekrFmnlXftuo",
          "name": "Redis account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $json.key }}",
        "value": "1",
        "expire": true,
        "ttl": 86400
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -80,
        6912
      ],
      "id": "2683bf7a-9c40-4de4-b8ce-fc475e4ff511",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "IqjVekrFmnlXftuo",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Agregar un JID a Redis con valor \"1\" y expiración de 24 horas\nconst jidAgregar = \"+5492214957804\";\n\nreturn [{\n  json: {\n    operation: \"set\",\n    key: `campaña_ocho:${jidAgregar}`,\n    value: \"1\",\n    expire: true,\n    ttl: 86400 // 24 horas en segundos\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        6912
      ],
      "id": "2730bff4-dd64-4590-a126-d093839cabfb",
      "name": "Code11"
    },
    {
      "parameters": {
        "url": "=https://app.chatwoot.com/api/v1/accounts/135793/conversations/{{ $('Webhook').item.json.body.data.chatwootConversationId }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "iL7EfaPAhg1ocvz4s9m4eSmJ"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2816,
        5904
      ],
      "id": "4cc42fc8-e17d-4d72-9608-1026bfadc7c4",
      "name": "Obtener Historial Evolution4",
      "credentials": {
        "httpBearerAuth": {
          "id": "lwTUWiP0RaCV5Kuz",
          "name": "Bearer Auth account 3"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const respuestaChatwoot = $input.first().json;\nconst webhookData = $('Webhook').first().json;\nconst remoteJid = webhookData.body.data.key.remoteJid;\n\nconsole.log('=== PROCESANDO HISTORIAL DE CHATWOOT ===');\n\n// Chatwoot puede devolver array directo o dentro de \"payload\"\nlet mensajes = [];\n\nif (Array.isArray(respuestaChatwoot)) {\n  mensajes = respuestaChatwoot;\n} else if (respuestaChatwoot.payload && Array.isArray(respuestaChatwoot.payload)) {\n  mensajes = respuestaChatwoot.payload;\n} else if (respuestaChatwoot.data && Array.isArray(respuestaChatwoot.data)) {\n  mensajes = respuestaChatwoot.data;\n}\n\nconsole.log('Total mensajes encontrados:', mensajes.length);\n\nif (mensajes.length === 0) {\n  return [{\n    json: {\n      contextoManual: '',\n      sinMensajes: true,\n      remoteJid: remoteJid\n    }\n  }];\n}\n\n// Ordenar por timestamp (más antiguos primero)\nmensajes.sort((a, b) => {\n  const timeA = a.created_at || 0;\n  const timeB = b.created_at || 0;\n  return timeA - timeB;\n});\n\n// Tomar solo los últimos 30 mensajes\nconst mensajesRecientes = mensajes.slice(-30);\n\nconsole.log('Mensajes a procesar:', mensajesRecientes.length);\n\n// Formatear conversación\nconst conversacion = mensajesRecientes.map(msg => {\n  // En Chatwoot:\n  // message_type: 0 = incoming (cliente)\n  // message_type: 1 = outgoing (agente/bot)\n  // message_type: 2 = activity (sistema)\n  const esDelUsuario = msg.message_type === 0;\n  const esDelAgente = msg.message_type === 1;\n  const esActividad = msg.message_type === 2;\n  \n  // Ignorar mensajes de actividad\n  if (esActividad) {\n    return null;\n  }\n  \n  // Extraer contenido\n  let contenido = msg.content || '';\n  \n  // Si tiene attachments\n  if (msg.attachments && msg.attachments.length > 0) {\n    const attachment = msg.attachments[0];\n    if (attachment.file_type === 'image') {\n      contenido = `[Imagen${contenido ? ': ' + contenido : ''}]`;\n    } else if (attachment.file_type === 'audio') {\n      contenido = '[Audio]';\n    } else if (attachment.file_type === 'video') {\n      contenido = '[Video]';\n    } else if (attachment.file_type === 'file') {\n      contenido = `[Documento${contenido ? ': ' + contenido : ''}]`;\n    } else {\n      contenido = `[${attachment.file_type}]`;\n    }\n  }\n  \n  const quien = esDelUsuario ? 'CLIENTE' : 'TÚ (ANDRÉS)';\n  \n  // Convertir timestamp a fecha legible\n  const fecha = new Date(msg.created_at * 1000);\n  const timestamp = fecha.toLocaleString('es-AR', { \n    timeZone: 'America/Argentina/Buenos_Aires',\n    day: '2-digit',\n    month: '2-digit',\n    hour: '2-digit',\n    minute: '2-digit'\n  });\n  \n  return `[${timestamp}] ${quien}: ${contenido}`;\n}).filter(m => m !== null).join('\\n');\n\n// Crear contexto formateado\nconst contextoManual = `\n═══════════════════════════════════════════════════════\n⚠️  CONTEXTO IMPORTANTE - AGENTE REACTIVADO\n═══════════════════════════════════════════════════════\n\nMientras estuviste INACTIVO, hubo esta conversación donde TÚ (Andrés) respondiste manualmente:\n\n${conversacion}\n\n═══════════════════════════════════════════════════════\nINSTRUCCIONES CRÍTICAS:\n- Retomas ahora la conversación automáticamente\n- Tienes TODO el contexto de lo que Andrés habló manualmente\n- NO repitas información que Andrés ya dio\n- NO vuelvas a hacer preguntas que Andrés ya hizo\n- Continúa naturalmente desde el último mensaje\n- Si ya se coordinó algo, respétalo y no lo cambies\n═══════════════════════════════════════════════════════\n`;\n\nconsole.log('✅ Contexto manual generado');\nconsole.log('Mensajes procesados:', mensajesRecientes.length);\nconsole.log('Últimos 3 mensajes:', conversacion.split('\\n').slice(-3).join('\\n'));\n\nreturn [{\n  json: {\n    contextoManual: contextoManual,\n    totalMensajes: mensajesRecientes.length,\n    remoteJid: remoteJid,\n    ultimoMensaje: conversacion.split('\\n').pop(),\n    mensajesCompletos: conversacion\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3056,
        5904
      ],
      "id": "8cd9a291-0587-4c77-a804-e9c4dbe37bab",
      "name": "Formatear Historial4",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3072,
        6160
      ],
      "id": "b0439614-9e51-4daf-8dae-93aa1f8bebe5",
      "name": "Merge Contexto4",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// SOLUCIÓN: Acceder a nodos anteriores explícitamente\nconst agentOutput = $('RAG Agent').first()?.json?.output?.message || '';\nconst webhookData = $('Webhook').first().json;\nconst borrarRedisData = $('borrarRedis').first()?.json;\n\n// ✅ CHATWOOT: Extraer whatsapp_id del source_id\nlet whatsappId = webhookData?.body?.conversation?.contact_inbox?.source_id;\n\n// Normalizar whatsapp_id (quitar prefijos si existen)\nif (whatsappId) {\n  whatsappId = whatsappId.replace('@s.whatsapp.net', '').replace('@c.us', '').replace('+', '');\n}\n\n// ✅ CHATWOOT: Extraer pushName del sender\nconst pushName = webhookData?.body?.sender?.name || null;\nconsole.log('📱 pushName de Chatwoot:', pushName);\n\n// Extraer mensaje del usuario desde borrarRedis1 o directamente del webhook\nlet userMessage = '';\nif (borrarRedisData?.mensajesTexto) {\n  userMessage = borrarRedisData.mensajesTexto;\n} else {\n  // ✅ CHATWOOT: El contenido está en body.content\n  userMessage = webhookData?.body?.content || '';\n}\n\nconsole.log('=== DATOS EXTRAÍDOS ===');\nconsole.log('WhatsApp ID:', whatsappId);\nconsole.log('Mensaje usuario:', userMessage.substring(0, 100));\nconsole.log('Respuesta agente:', agentOutput.substring(0, 100));\n\nif (!whatsappId) {\n  throw new Error('No se pudo extraer el whatsapp_id. Verifica el flujo.');\n}\n\n// Función para extraer información del contexto\nfunction extractLeadInfo(userMsg, agentMsg) {\n  const info = {\n    whatsapp_id: whatsappId,\n    nombre: null,\n    presupuesto: null,\n    zona: null,\n    tipo_propiedad: null,\n    forma_pago: null,\n    intencion: null,\n    caracteristicas_buscadas: null,\n    caracteristicas_venta: null,\n    propiedad_interes: null,\n    estado: null,\n    ultima_interaccion: new Date().toISOString()\n  };\n\n  // ═══════════════════════════════════════════\n  // CALIFICACIÓN AUTOMÁTICA POR MENSAJES\n  // ═══════════════════════════════════════════\n  try {\n    // 🔒 PROTECCIÓN: Si el estado actual en DB ya es llamada, busqueda o visita, no tocar\n    const estadoActual = $('SQL - Cancelar Seguimiento').first()?.json?.estado || null;\n    \n    if (['llamada', 'busqueda', 'visita'].includes(estadoActual)) {\n      info.estado = estadoActual;\n      console.log(`🔒 Estado protegido: \"${estadoActual}\" — no se recalcula`);\n    } else {\n      // Calificación normal por cantidad de mensajes\n      const historialData = $('Formatear Historial').item?.json;\n      const totalMensajes = historialData?.totalMensajes || 0;\n      \n      if (totalMensajes <= 2) {\n        info.estado = 'frio';\n      } else if (totalMensajes <= 15) {\n        info.estado = 'tibio';\n      } else {\n        info.estado = 'caliente';\n      }\n      console.log(`📊 Lead calificado como \"${info.estado}\" (${totalMensajes} mensajes)`);\n    }\n  } catch (e) {\n    info.estado = 'frio';\n    console.log('📊 Lead calificado como \"frio\" por defecto (sin historial)');\n  }\n\n  const fullContext = (userMsg + ' ' + agentMsg).toLowerCase();\n  console.log('Contexto completo:', fullContext.substring(0, 200));\n\n  // Extraer intención (comprar o vender)\n  if (fullContext.match(/\\b(quiero comprar|busco comprar|interesa comprar|me interesa|quiero una propiedad|estoy buscando|necesito comprar|busco|info|información)\\b/)) {\n    info.intencion = 'comprar';\n  } else if (fullContext.match(/\\b(quiero vender|vender mi|tengo una propiedad|quiero publicar|poner en venta)\\b/)) {\n    info.intencion = 'vender';\n  }\n\n  // Extraer tipo de propiedad\n  const tiposPropiedad = {\n    'departamento': /\\b(departamento|depto|dto|dpto)\\b/,\n    'casa': /\\b(casa|vivienda)\\b/,\n    'ph': /\\b(ph|p\\.h\\.|petit hotel)\\b/,\n    'terreno': /\\b(terreno|lote)\\b/,\n    'local': /\\b(local comercial|local)\\b/,\n    'oficina': /\\b(oficina)\\b/,\n    'cochera': /\\b(cochera|garage|garaje)\\b/\n  };\n\n  for (const [tipo, regex] of Object.entries(tiposPropiedad)) {\n    if (fullContext.match(regex)) {\n      info.tipo_propiedad = tipo;\n      break;\n    }\n  }\n\n  // Extraer presupuesto\n  const presupuestoPatterns = [\n    /(?:presupuesto|hasta|máximo|budget|tengo)[\\s:de]*(?:usd?[\\s$]*)?([\\d]+[\\\\.,]?\\d*)\\s*(?:mil|k|millones?|m)?/i,\n    /(?:usd?[\\s$]*)([\\d]+[\\\\.,]?\\d*)\\s*(?:mil|k|millones?|m)/i,\n    /([\\d]+[\\\\.,]?\\d*)\\s*(?:mil|k|millones?|m)\\s*(?:dólares|dolares|usd|pesos)?/i\n  ];\n\n  for (const pattern of presupuestoPatterns) {\n    const presupuestoMatch = fullContext.match(pattern);\n    if (presupuestoMatch) {\n      let monto = parseFloat(presupuestoMatch[1].replace(',', '.'));\n      if (fullContext.match(/\\bmillones?\\b/)) monto *= 1000000;\n      else if (fullContext.match(/\\b(mil|k)\\b/)) monto *= 1000;\n      info.presupuesto = monto;\n      console.log('Presupuesto encontrado:', monto);\n      break;\n    }\n  }\n\n  // Extraer zona\n  const zonaPatterns = [\n    /\\b(?:en|zona|barrio|ubicación|ubicado en?|por)\\s+(?:de\\s+|la\\s+)?([a-záéíóúñ\\s]+?)(?:\\s|,|\\.|\\?|$)/i,\n    /\\b(palermo|belgrano|recoleta|puerto madero|caballito|villa crespo|colegiales|nuñez|saavedra|microcentro|san telmo|balvanera|almagro|flores|barracas|monserrat|retiro|once|abasto|congreso|chacarita|parque patricios|boedo|barrio norte|zona norte|zona sur|zona oeste|centro|city bell|la plata|gonnet|tolosa|villa elisa)\\b/i\n  ];\n\n  for (const pattern of zonaPatterns) {\n    const zonaMatch = fullContext.match(pattern);\n    if (zonaMatch) {\n      const zonaCandidato = zonaMatch[1] ? zonaMatch[1].trim() : zonaMatch[0].trim();\n      if (zonaCandidato.length > 2 && zonaCandidato.length < 50) {\n        info.zona = zonaCandidato.charAt(0).toUpperCase() + zonaCandidato.slice(1);\n        console.log('Zona encontrada:', info.zona);\n        break;\n      }\n    }\n  }\n\n  // Extraer forma de pago\n  if (fullContext.match(/\\b(contado|efectivo|cash|al contado|pago contado|en efectivo|seria en efectivo|compra seria en efectivo)\\b/)) {\n    info.forma_pago = 'contado';\n    console.log('Forma de pago: contado');\n  } else if (fullContext.match(/\\b(financiado|financiación|cuotas|en cuotas|crédito|a crédito)\\b/)) {\n    info.forma_pago = 'financiado';\n  } else if (fullContext.match(/\\b(hipotecario|préstamo|préstamo hipotecario|con hipoteca|por banco|busqueda es por banco)\\b/)) {\n    info.forma_pago = 'hipotecario';\n  } else if (fullContext.match(/\\b(mixto|parte contado|parte financiado)\\b/)) {\n    info.forma_pago = 'mixto';\n  }\n\n  // Extraer características buscadas\n  const caracBuscadas = [];\n  \n  const ambMatch = fullContext.match(/\\b(\\d+)\\s*(?:ambiente|ambientes|amb)\\b/);\n  if (ambMatch) {\n    caracBuscadas.push(`${ambMatch[1]} ambientes`);\n  }\n  \n  const dormMatch = fullContext.match(/\\b(\\d+)\\s*(?:dormitorio|dormitorios|habitación|habitaciones|cuarto|cuartos)\\b/);\n  if (dormMatch) {\n    caracBuscadas.push(`${dormMatch[1]} dormitorios`);\n  }\n  \n  const bañoMatch = fullContext.match(/\\b(\\d+)\\s*(?:baño|baños)\\b/);\n  if (bañoMatch) {\n    caracBuscadas.push(`${bañoMatch[1]} baños`);\n  }\n  \n  const extrasRegex = /\\b(balcón|balcon|terraza|jardín|jardin|patio|parrilla|quincho|cochera|garage|amenities|gym|gimnasio|piscina|pileta|sum|lavadero|baulera)\\b/g;\n  const extras = fullContext.match(extrasRegex);\n  if (extras) {\n    caracBuscadas.push(...[...new Set(extras)]);\n  }\n  \n  if (caracBuscadas.length > 0) {\n    info.caracteristicas_buscadas = caracBuscadas.join(', ');\n    console.log('Características:', info.caracteristicas_buscadas);\n  }\n\n  // ═══════════════════════════════════════════\n  // ETIQUETADO CANÓNICO de propiedad_interes\n  // Fingerprint numérico contra tabla `pautas`\n  // ═══════════════════════════════════════════\n  const numericFingerprint = (text) => {\n    const matches = String(text || '').match(/\\d+/g);\n    if (!matches || matches.length === 0) return [];\n    return [...new Set(matches.map(n => parseInt(n, 10)))].sort((a, b) => a - b);\n  };\n\n  const pautas = $('fetch pautas').first()?.json?.pautas || [];\n  const userFp = numericFingerprint(userMsg);\n\n  if (userFp.length >= 2 && pautas.length > 0) {\n    let bestMatch = null;\n    let bestSize = 0;\n    for (const p of pautas) {\n      const pFp = numericFingerprint(p.texto);\n      if (pFp.length < 2) continue; // ignora pautas con <2 números (falsos positivos)\n      if (pFp.every(n => userFp.includes(n)) && pFp.length > bestSize) {\n        bestMatch = p;\n        bestSize = pFp.length;\n      }\n    }\n    if (bestMatch) {\n      info.propiedad_interes = bestMatch.texto;\n      console.log(`✅ Pauta canónica matcheada: \"${bestMatch.texto}\" (${bestSize} números)`);\n    } else {\n      console.log('ℹ sin match canónico contra pautas; propiedad_interes queda null');\n    }\n  } else {\n    console.log('ℹ mensaje sin suficientes números (<2) o sin pautas activas');\n  }\n\n  // 🆕 EXTRAER NOMBRE - CON PUSHNAME COMO FALLBACK\n  const nombreMatch = userMsg.match(/\\b(?:me llamo|mi nombre es|soy|mi nombre)\\s+([a-záéíóúñ]+(?:\\s+[a-záéíóúñ]+)?)/i);\n  if (nombreMatch) {\n    const nombre = nombreMatch[1].trim();\n    info.nombre = nombre.split(' ').map(word => \n      word.charAt(0).toUpperCase() + word.slice(1).toLowerCase()\n    ).join(' ');\n    console.log('✅ Nombre del mensaje:', info.nombre);\n  } else if (pushName) {\n    info.nombre = pushName.trim();\n    console.log('✅ Nombre del pushName de Chatwoot:', info.nombre);\n  }\n\n  return info;\n}\n\n// Extraer información del lead\nconst leadInfo = extractLeadInfo(userMessage, agentOutput);\n\nconsole.log('=== LEAD INFO FINAL ===');\nconsole.log(JSON.stringify(leadInfo, null, 2));\n\n// Construir query SQL - solo con campos no nulos\nconst fields = [];\nconst values = [];\nconst updates = [];\n\n// 🔒 Allowlist: solo estos campos llegan al UPSERT. El resto de la extracción\n// (intencion, tipo_propiedad, presupuesto, zona, forma_pago, caracteristicas_buscadas,\n//  caracteristicas_venta) corre pero NO se persiste en leads.\nconst ALLOWED_FIELDS = ['nombre', 'estado', 'ultima_interaccion', 'propiedad_interes'];\n\nObject.entries(leadInfo).forEach(([key, value]) => {\n  if (value !== null && key !== 'whatsapp_id' && ALLOWED_FIELDS.includes(key)) {\n    fields.push(key);\n    values.push(value);\n\n    if (key === 'estado') {\n      // 🔒 PROTECCIÓN: llamada, busqueda y visita nunca se pisan desde el UPSERT\n      updates.push(`${key} = CASE \n        WHEN leads.${key} IN ('llamada', 'visita', 'busqueda') THEN leads.${key}\n        WHEN EXCLUDED.${key} = 'caliente' THEN 'caliente'\n        WHEN EXCLUDED.${key} = 'tibio' AND leads.${key} NOT IN ('caliente', 'llamada', 'visita', 'busqueda') THEN 'tibio'\n        WHEN leads.${key} IS NULL OR leads.${key} IN ('activo', 'inicial', '') THEN EXCLUDED.${key}\n        ELSE COALESCE(EXCLUDED.${key}, leads.${key})\n      END`);\n    } else if (key === 'ultima_interaccion') {\n      updates.push(`${key} = EXCLUDED.${key}`);\n    } else if (key === 'propiedad_interes') {\n      // actualiza si hay nuevo match; si null, preserva el valor existente\n      updates.push(`${key} = COALESCE(EXCLUDED.${key}, leads.${key})`);\n    } else {\n      // nombre: write-once — solo escribe si en BD está NULL o ''\n      updates.push(`${key} = COALESCE(NULLIF(leads.${key}, ''), EXCLUDED.${key})`);\n    }\n  }\n});\n\n// Si no hay campos, solo actualizar ultima_interaccion\nif (fields.length === 0) {\n  fields.push('ultima_interaccion');\n  values.push(leadInfo.ultima_interaccion);\n  updates.push('ultima_interaccion = EXCLUDED.ultima_interaccion');\n}\n\nconst query = `\nINSERT INTO leads (whatsapp_id, ${fields.join(', ')})\nVALUES ($1, ${values.map((_, i) => `$${i + 2}`).join(', ')})\nON CONFLICT (whatsapp_id) \nDO UPDATE SET \n  ${updates.join(',\\n  ')},\n  updated_at = CURRENT_TIMESTAMP\nRETURNING *;\n`;\n\nconst parameters = [leadInfo.whatsapp_id, ...values];\n\nconsole.log('=== QUERY FINAL ===');\nconsole.log('Campos a actualizar:', fields);\nconsole.log('Valores:', parameters);\n\nreturn [{\n  json: {\n    query: query,\n    parameters: parameters,\n    leadInfo: leadInfo,\n    operation: 'upsert',\n    whatsapp_id: leadInfo.whatsapp_id,\n    extracted_data: {\n      user_message: userMessage.substring(0, 200),\n      agent_response: agentOutput.substring(0, 200),\n      pushName: pushName\n    },\n    debug: {\n      whatsapp_found: !!whatsappId,\n      pushname_found: !!pushName,\n      fields_updated: fields,\n      user_msg_length: userMessage.length,\n      agent_msg_length: agentOutput.length\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4240,
        5984
      ],
      "id": "7211d910-c9be-42b1-a385-0d467d9f25fa",
      "name": "capturar informacion",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.query }}",
        "options": {
          "queryReplacement": "={{ $json.parameters }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4544,
        5984
      ],
      "id": "df193b01-ed67-4f32-92e8-189d7c530cf6",
      "name": "query guardar informacion",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "YT3mNrhEyWrQj9o3",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatwoot-webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2096,
        6464
      ],
      "id": "7736adf0-96f1-483e-b1b2-bc2a218922d2",
      "name": "Webhook",
      "webhookId": "74b838db-2731-44af-83e4-627d97234121"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-6",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4.6"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        3536,
        6448
      ],
      "id": "65729f66-c5bb-4151-9079-8bf08a95629d",
      "name": "Anthropic Chat Model1",
      "credentials": {
        "anthropicApi": {
          "id": "x1cMDDSv3RoaFkK5",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// NORMALIZAR WEBHOOKS - VERSIÓN SIMPLE Y SEGURA\n// ============================================\n\ntry {\n  const webhookData = $input.first().json;\n  const body = webhookData.body;\n  const event = body.event;\n\n  console.log('=== WEBHOOK RECIBIDO ===');\n  console.log('Event:', event);\n\n  // ============================================\n  // NORMALIZACIÓN BÁSICA\n  // ============================================\n\n  let normalized = {\n    event: event,\n    account: body.account || null,\n    inbox: body.inbox || null,\n    conversation: null,\n    message: null,\n    sender: null,\n    content: null,\n    source_id: null,\n    timestamp: null\n  };\n\n  if (event === 'conversation_created') {\n    // Conversación está en body directamente\n    normalized.conversation = {\n      id: body.id,\n      inbox_id: body.inbox_id,\n      status: body.status,\n      contact_inbox: body.contact_inbox,\n      messages: body.messages || [],\n      meta: body.meta,\n      created_at: body.created_at,\n      updated_at: body.updated_at\n    };\n    \n    const firstMessage = body.messages?.[0];\n    if (firstMessage) {\n      normalized.message = firstMessage;\n      normalized.content = firstMessage.content;\n      normalized.source_id = firstMessage.source_id;\n      normalized.timestamp = firstMessage.created_at;\n      normalized.sender = firstMessage.sender;\n    }\n    \n  } else if (event === 'message_created') {\n    // Conversación está en body.conversation\n    normalized.conversation = body.conversation;\n    normalized.message = {\n      id: body.id,\n      content: body.content,\n      message_type: body.message_type,\n      created_at: body.created_at,\n      source_id: body.source_id,\n      sender_id: body.sender?.id\n    };\n    normalized.content = body.content;\n    normalized.source_id = body.source_id;\n    normalized.timestamp = body.created_at;\n    normalized.sender = body.sender;\n  }\n\n  // Datos comunes\n  normalized.phone_number = normalized.conversation?.contact_inbox?.source_id;\n  normalized.whatsapp_id = normalized.phone_number?.replace('+', '');\n  normalized.contact_name = normalized.sender?.name || 'Desconocido';\n  normalized.conversation_id = normalized.conversation?.id;\n  normalized.inbox_id = normalized.conversation?.inbox_id;\n\n  console.log('Normalizado exitosamente');\n  console.log('Teléfono:', normalized.phone_number);\n  console.log('Evento:', event);\n\n  return [{\n    json: {\n      ...webhookData,\n      normalized: normalized\n    }\n  }];\n\n} catch (error) {\n  console.error('ERROR EN NORMALIZACIÓN:', error.message);\n  console.error('Stack:', error.stack);\n  throw error;\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1040,
        6464
      ],
      "id": "49f432d3-f69e-4aab-8e42-03d08188e6c1",
      "name": "Normalice1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "4mtNYrLqBUhzwLjA",
          "mode": "list",
          "cachedResultUrl": "/workflow/4mtNYrLqBUhzwLjA",
          "cachedResultName": "Team ali - notificacion llamada"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('lead_name', ``, 'string') }}",
            "confirmation_text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('confirmation_text', ``, 'string') }}",
            "raw_from_agent": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('raw_from_agent', ``, 'string') }}",
            "whatsapp_id": "={{ $('Normalice1').item.json.body.conversation.contact_inbox.source_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "lead_name",
              "displayName": "lead_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "lead_number",
              "displayName": "lead_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "confirmation_text",
              "displayName": "confirmation_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "raw_from_agent",
              "displayName": "raw_from_agent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "whatsapp_id",
              "displayName": "whatsapp_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3680,
        6480
      ],
      "id": "3ca50c1c-0fe6-4d8e-9925-03f735fef543",
      "name": "agendo llamada1"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "dedupe_key",
              "value": "={{'chatwoot:' + $json.body.conversation.id + ':' + $json.body.id}}"
            }
          ]
        },
        "options": {}
      },
      "id": "f04a6c73-5ff4-4d84-a15d-08f0bf97b64a",
      "name": "Set Unique Key1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -1840,
        6240
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{$json.dedupe_key}}",
        "options": {}
      },
      "id": "3c6d0773-50e5-4706-8206-067829a3a654",
      "name": "Redis Check1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1648,
        6240
      ],
      "credentials": {
        "redis": {
          "id": "IqjVekrFmnlXftuo",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "f758bb14-2153-4993-bb22-84be9ebd4673",
              "leftValue": "={{ $json.propertyName }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "235d0cdf-d5e3-4fd7-8f01-09fdd3c5f507",
              "leftValue": "={{ $('Webhook').item.json.body.conversation.messages[0].sender.phone_number }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "4422610b-a003-480f-bafe-1a3d8d556be5",
      "name": "IF Duplicate1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1440,
        6240
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Set Unique Key1').item.json.dedupe_key }}",
        "value": "1",
        "expire": true
      },
      "id": "5ced2828-158d-43b8-a51c-04f8f494dbcf",
      "name": "Redis Save1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1216,
        6304
      ],
      "credentials": {
        "redis": {
          "id": "IqjVekrFmnlXftuo",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "errorMessage": "duplicado"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -1200,
        6128
      ],
      "id": "77cd9f56-f061-4a50-a1de-e6fa7626cf7d",
      "name": "Stop and Error1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        3824,
        6864
      ],
      "id": "9cc1eba8-1416-4b35-a8ec-253fa0cc547d",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "BPTkrfKD8LOqnHgE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "2BaZJuYh0If9DBiw",
          "mode": "list",
          "cachedResultUrl": "/workflow/2BaZJuYh0If9DBiw",
          "cachedResultName": "busqueda personalizada- Team ali"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "raw_from_agent": "={{ $('RAG Agent').item.json.output.request_personalized_search.raw_query }}",
            "confirmation_text": "={{ $('RAG Agent').item.json.output.message }}",
            "lead_number": "={{ $('Normalice1').item.json.normalized.phone_number }}",
            "lead_name": "={{ $('Normalice1').item.json.normalized.contact_name }}",
            "whatsapp_id": "={{ $('Normalice1').item.json.body.conversation.contact_inbox.source_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "lead_name",
              "displayName": "lead_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "lead_number",
              "displayName": "lead_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "confirmation_text",
              "displayName": "confirmation_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "raw_from_agent",
              "displayName": "raw_from_agent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "whatsapp_id",
              "displayName": "whatsapp_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3680,
        6624
      ],
      "id": "aa6d26ee-965f-423b-a8d8-e8a9603fe3a2",
      "name": "busqueda personalizada"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "79d38b0b-ed31-48d7-9522-4d2deb757b87",
              "leftValue": "={{ $json.body.conversation.messages[0].sender.phone_number }}",
              "rightValue": "+5492214770671",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "a028436b-8b94-4b34-85d3-46fa47edec7f",
              "leftValue": "={{ $json.body.conversation.messages[0].sender.phone_number }}",
              "rightValue": "+5491133370937",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "5973efda-b7b0-4bb8-9c4f-4ad1b67ca847",
              "leftValue": "={{ $json.body.conversation.messages[0].sender.phone_number }}",
              "rightValue": "+5492214770660",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1840,
        6048
      ],
      "id": "bee010ef-1709-484d-bdcd-cffc103342d8",
      "name": "If1"
    },
    {
      "parameters": {
        "errorMessage": "duplicado"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -1536,
        6064
      ],
      "id": "5a9ba6d2-0ab1-4581-8064-177e333a721a",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "content": "## 🧪 Nodo de prueba\n\nAgregado desde Claude Code para verificar sync.\nSe puede borrar sin consecuencias.",
        "height": 180,
        "width": 320,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3200,
        7600
      ],
      "id": "8ef17a5b-309f-4835-8caa-dc58f587bd26",
      "name": "Prueba sync Claude"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COALESCE(\n  jsonb_agg(jsonb_build_object('id', id, 'texto', texto)),\n  '[]'::jsonb\n) AS pautas\nFROM pautas\nWHERE COALESCE(activo, true) = true",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3888,
        6112
      ],
      "id": "9bf0dd68-bfbe-4d92-9314-9af7b4981dc6",
      "name": "fetch pautas",
      "credentials": {
        "postgres": {
          "id": "YT3mNrhEyWrQj9o3",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"required\": [\n    \"message\"\n  ],\n  \"properties\": {\n    \"message\": {\n      \"type\": \"string\",\n      \"description\": \"Texto natural en español que se enviará al cliente por WhatsApp. NUNCA JSON, objetos, ni código.\"\n    },\n    \"request_personalized_search\": {\n      \"type\": [\n        \"object\",\n        \"null\"\n      ],\n      \"description\": \"null cuando NO hay búsqueda personalizada; objeto cuando el cliente pide propiedades por características.\",\n      \"properties\": {\n        \"raw_query\": {\n          \"type\": \"string\",\n          \"description\": \"Resumen breve de la consulta del cliente\"\n        },\n        \"lead_name\": {\n          \"type\": \"string\",\n          \"description\": \"Nombre del cliente\"\n        },\n        \"lead_number\": {\n          \"type\": \"string\",\n          \"description\": \"Número del cliente en formato +549...\"\n        }\n      },\n      \"required\": [\n        \"raw_query\",\n        \"lead_name\",\n        \"lead_number\"\n      ]\n    }\n  }\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        3700,
        6700
      ],
      "id": "5b1d8f3e-7c2a-4b1e-9f8a-1c3d5e7a9b2c",
      "name": "Output Parser Structured"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "1a2b3c4d-5e6f-7a8b-9c0d-1e2f3a4b5c6d",
              "leftValue": "={{ $json.output.request_personalized_search }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3900,
        6240
      ],
      "id": "7a3c9d2e-1f4b-4e6a-9c8d-2b5e8f1a3d7c",
      "name": "IF Personalized Search"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "mia-n8n.w9weud.easypanel.host",
            "user-agent": "rest-client/2.1.0 (linux-musl x86_64) ruby/3.4.4p34",
            "content-length": "2680",
            "accept": "application/json",
            "accept-encoding": "gzip;q=1.0,deflate;q=0.6,identity;q=0.3",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "mia-n8n.w9weud.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "41e5dca11d10",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "account": {
              "id": 2,
              "name": "flip"
            },
            "additional_attributes": {},
            "content_attributes": {},
            "content_type": "text",
            "content": "Hola! Sí, sigo buscando. Alrededor de u$s 150.000 , 3/4 a. Luminoso, patio o jardín, baño y toilette",
            "conversation": {
              "additional_attributes": {},
              "can_reply": true,
              "channel": "Channel::Whatsapp",
              "contact_inbox": {
                "id": 2088,
                "contact_id": 1687,
                "inbox_id": 3,
                "source_id": "5491149790156",
                "created_at": "2026-04-11T16:30:18.624Z",
                "updated_at": "2026-04-11T16:30:18.624Z",
                "hmac_verified": false,
                "pubsub_token": "121na9kNGpnHvT2maDJrMfP4"
              },
              "id": 2498,
              "inbox_id": 3,
              "messages": [
                {
                  "id": 21108,
                  "content": "Hola! Sí, sigo buscando. Alrededor de u$s 150.000 , 3/4 a. Luminoso, patio o jardín, baño y toilette",
                  "account_id": 2,
                  "inbox_id": 3,
                  "conversation_id": 2498,
                  "message_type": 0,
                  "created_at": 1776982495,
                  "updated_at": "2026-04-23T22:14:55.997Z",
                  "private": false,
                  "status": "sent",
                  "source_id": "wamid.HBgNNTQ5MTE0OTc5MDE1NhUCABIYIEFDRjg5QUY3MDc5NjM2NDNDQTQyMkRCRTY2Mzg4NDhFAA==",
                  "content_type": "text",
                  "content_attributes": {},
                  "sender_type": "Contact",
                  "sender_id": 1687,
                  "external_source_ids": {},
                  "additional_attributes": {},
                  "processed_message_content": "Hola! Sí, sigo buscando. Alrededor de u$s 150.000 , 3/4 a. Luminoso, patio o jardín, baño y toilette",
                  "sentiment": {},
                  "conversation": {
                    "assignee_id": null,
                    "unread_count": 1,
                    "last_activity_at": 1776982495,
                    "contact_inbox": {
                      "source_id": "5491149790156"
                    }
                  },
                  "sender": {
                    "additional_attributes": {},
                    "custom_attributes": {},
                    "email": null,
                    "id": 1687,
                    "identifier": null,
                    "name": "Nelida Pagnat",
                    "phone_number": "+5491149790156",
                    "thumbnail": "",
                    "blocked": false,
                    "type": "contact"
                  }
                }
              ],
              "labels": [],
              "meta": {
                "sender": {
                  "additional_attributes": {},
                  "custom_attributes": {},
                  "email": null,
                  "id": 1687,
                  "identifier": null,
                  "name": "Nelida Pagnat",
                  "phone_number": "+5491149790156",
                  "thumbnail": "",
                  "blocked": false,
                  "type": "contact"
                },
                "assignee": null,
                "assignee_type": null,
                "team": null,
                "hmac_verified": false
              },
              "status": "open",
              "custom_attributes": {},
              "snoozed_until": null,
              "unread_count": 1,
              "first_reply_created_at": null,
              "priority": null,
              "waiting_since": 1776979081,
              "agent_last_seen_at": 0,
              "contact_last_seen_at": 0,
              "last_activity_at": 1776982495,
              "timestamp": 1776982495,
              "created_at": 1776979081,
              "updated_at": 1776982496.002811
            },
            "created_at": "2026-04-23T22:14:55.997Z",
            "id": 21108,
            "inbox": {
              "id": 3,
              "name": "Team ali"
            },
            "message_type": "incoming",
            "private": false,
            "sender": {
              "account": {
                "id": 2,
                "name": "flip"
              },
              "additional_attributes": {},
              "avatar": "",
              "custom_attributes": {},
              "email": null,
              "id": 1687,
              "identifier": null,
              "name": "Nelida Pagnat",
              "phone_number": "+5491149790156",
              "thumbnail": "",
              "blocked": false
            },
            "source_id": "wamid.HBgNNTQ5MTE0OTc5MDE1NhUCABIYIEFDRjg5QUY3MDc5NjM2NDNDQTQyMkRCRTY2Mzg4NDhFAA==",
            "event": "message_created"
          },
          "webhookUrl": "https://mia-n8n.w9weud.easypanel.host/webhook/chatwoot-webhook",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "SQL - Cancelar Seguimiento": {
      "main": [
        [
          {
            "node": "Is Conv Active?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Estado Chat en DB1": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reranker Cohere": {
      "ai_reranker": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_reranker",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "RAG Agent": {
      "main": [
        [
          {
            "node": "Code - Registrar para Seguimiento",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "fetch pautas",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF Personalized Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Obtener Historial Evolution4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Contexto4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Obter m dia em base1": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Obter m dia em base1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "pushRedis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "If16",
            "type": "main",
            "index": 0
          },
          {
            "node": "If20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If16": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "RAG Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "bufferRedis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "bufferRedis1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "borrarRedis": {
      "main": [
        [
          {
            "node": "Merge Contexto",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "pushRedis1": {
      "main": [
        [
          {
            "node": "bufferRedis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "sinAccion1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "borrarRedis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If17": {
      "main": [
        [
          {
            "node": "Set Estado Chat en DB1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If18": {
      "main": [
        [
          {
            "node": "Set Estado Chat en DB1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Conv Active?": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If19": {
      "main": [
        [
          {
            "node": "Set Estado Chat en DB1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Historial": {
      "main": [
        [
          {
            "node": "Merge Contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Historial Evolution": {
      "main": [
        [
          {
            "node": "Formatear Historial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Contexto": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If20": {
      "main": [
        [
          {
            "node": "Obtener Historial Evolution",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Guardar mensaje si inactivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Registrar para Seguimiento": {
      "main": [
        [
          {
            "node": "SQL - Agregar a Cola Seguimiento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If21": {
      "main": [
        [],
        [
          {
            "node": "SQL - Cancelar Seguimiento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar mensaje si inactivo": {
      "main": [
        [
          {
            "node": "SQL - Guardar Mensaje Pendiente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "borrarRedis6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code10": {
      "main": [
        [
          {
            "node": "borrarRedis7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code11": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Historial Evolution4": {
      "main": [
        [
          {
            "node": "Formatear Historial4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Historial4": {
      "main": [
        [
          {
            "node": "Merge Contexto4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Contexto4": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "capturar informacion": {
      "main": [
        [
          {
            "node": "query guardar informacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalice1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set Unique Key1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Output Parser Structured",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Normalice1": {
      "main": [
        [
          {
            "node": "If21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "agendo llamada1": {
      "ai_tool": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Set Unique Key1": {
      "main": [
        [
          {
            "node": "Redis Check1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Check1": {
      "main": [
        [
          {
            "node": "IF Duplicate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Duplicate1": {
      "main": [
        [
          {
            "node": "Stop and Error1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Redis Save1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetch pautas": {
      "main": [
        [
          {
            "node": "capturar informacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser Structured": {
      "ai_outputParser": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "IF Personalized Search": {
      "main": [
        [
          {
            "node": "busqueda personalizada",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timezone": "America/Argentina/Buenos_Aires",
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedMode": "fixed",
    "availableInMCP": false
  },
  "versionId": "081367c5-11b2-4124-9f18-eeb8c82cd37a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ee9f9cdde9b6fee62a7d6845e13fb03583e8c082f1cedc5478accdeca64f2246"
  },
  "id": "ejW2YR1lNj3dYsGc",
  "tags": []
}
