workflows/team-ali-agente.json
{
  "name": "Team ali - agente",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  COALESCE(l.estado_chat, 1) AS estado_chat,\n  COALESCE(l.whatsapp_id, $1) AS whatsapp_id\nFROM (SELECT 1) dummy\nLEFT JOIN leads l ON l.whatsapp_id = $1\nLIMIT 1;\n",
        "options": {
          "queryReplacement": "={{ $json.normalized.conversation.messages[0].sender.phone_number.replace('+', '') }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1632,
        6336
      ],
      "id": "c4be3081-d576-4bf8-b501-0596b61442b4",
      "name": "SQL - Cancelar Seguimiento",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "YT3mNrhEyWrQj9o3",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO leads (whatsapp_id, estado_chat, updated_at)\nVALUES ($1, 1, NOW())\nON CONFLICT (whatsapp_id) \nDO UPDATE SET \n  estado_chat = 1,\n  updated_at = NOW()\nRETURNING whatsapp_id, estado_chat;",
        "options": {
          "queryReplacement": "={{ $('Normalice1').item.json.normalized.conversation.messages[0].sender.phone_number }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        368,
        5984
      ],
      "id": "6c33ae74-00ad-41b7-8817-7609a33d0c67",
      "name": "Set Estado Chat en DB1",
      "credentials": {
        "postgres": {
          "id": "YT3mNrhEyWrQj9o3",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://mia-chatwoot.w9weud.easypanel.host//api/v1/accounts/2/conversations/{{ $('Normalice1').item.json.normalized.conversation.contact_inbox.id }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "axxJevEaPpRy4VJTfHS93LQr"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": {{ JSON.stringify($('RAG Agent').item.json.output) }},\n  \"message_type\": \"outgoing\",\n  \"private\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4640,
        6096
      ],
      "id": "ac39e4f8-f7cf-43b3-bc00-5cfc700f04f9",
      "name": "HTTP Request",
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "Xfa8MNHwcRpVe1r7",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "topN": 10
      },
      "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
      "typeVersion": 1,
      "position": [
        3872,
        6736
      ],
      "id": "f9b3bd64-f85a-4692-bfac-37131bd09f12",
      "name": "Reranker Cohere",
      "credentials": {
        "cohereApi": {
          "id": "6mDThtf9ooEIaxHA",
          "name": "CohereApi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "=La herramienta hace busquedas de propiedades y devuelve la ficha de la propiedad con sus valores correspondientes, incluyendo el valor enlace ",
        "tableName": {
          "__rl": true,
          "value": "documents_1",
          "mode": "list",
          "cachedResultName": "documents_1"
        },
        "topK": 70,
        "useReranker": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        3824,
        6560
      ],
      "id": "9937a83f-9e73-43c9-9710-047f9a151dd6",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "k63Rdkg9hyaaztWV",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "content": "# RAG Agent\n",
        "height": 380,
        "width": 620,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2080,
        6352
      ],
      "id": "454f9442-d7bc-4fee-a332-4c8565fd0a36",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Vector Store w/ Reranker\n",
        "height": 396,
        "width": 380,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2704,
        6336
      ],
      "id": "a928c281-9839-4682-b7a8-5a6f0c3483a3",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=={{ $('Edit Fields').item.json.mensajeConContexto +  $('Edit Fields').item.json.audioConContexto  }} ",
        "options": {
          "systemMessage": "=Eres Maga, asistente de AndrГ©s Ali, Corredor Inmobiliario en RE/MAX Diagonal II вЂ“ City Bell.\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\nрџљЁ REGLA FUNDAMENTAL DE RESPUESTA:\n- Genera SOLO UNA respuesta por mensaje del cliente\n- NUNCA generes mГєltiples mensajes seguidos\n- DespuГ©s de cada respuesta, DETENTE y espera la respuesta del cliente\n- NO anticipes ni simules respuestas del cliente\n- NO continues la conversaciГіn solo\n\n\nрџљЁ REGLA ABSOLUTA DE SALIDA (CRГЌTICA вЂ“ PRIORIDAD MГЃXIMA)\n\nTu respuesta FINAL serГЎ enviada DIRECTAMENTE al cliente final.\n\nвќЊ NUNCA debes:\n- Explicar lo que estГЎs haciendo\n- Decir que estГЎs esperando la respuesta del cliente\n- Hablar en tercera persona\n- Dar instrucciones internas\n- Coordinar una visita, solo coordinas llamadas\n- Decir frases como:\n  - \"Perfecto, veo que ya...\"\n  - \"Ahora estoy esperando...\"\n  - \"Una vez que el cliente responda...\"\n  - \"ContinuarГ© la conversaciГіn...\"\n  - \"рџ‘Ќ\" como respuesta final sin texto\n\nвњ… SIEMPRE debes:\n- Escribir ГљNICAMENTE el mensaje exacto que recibirГ­a el cliente por WhatsApp\n- Hablarle DIRECTAMENTE al cliente (segunda persona)\n- Enviar UN SOLO MENSAJE claro y natural\n- Si no corresponde responder, devolver EXACTAMENTE un: \"рџ‘Ќ\"\n\nрџ›‘ Si tu respuesta contiene razonamiento, instrucciones, anГЎlisis o meta-comentarios:\nESA RESPUESTA ES INCORRECTA Y NO DEBE SER GENERADA.\n\nINSTRUCCIГ“N DE OUTPUT:\nTu Гєnica tarea es generar el texto exacto del mensaje de WhatsApp que recibirГЎ el cliente.\nSi no hay nada que enviar al cliente, responde Гєnicamente: \"рџ‘Ќ\"\nCualquier otro tipo de output (razonamiento, anГЎlisis, meta-comentarios, pensamientos, \ninstrucciones para ti mismo) constituye un ERROR CRГЌTICO DE SISTEMA.\nNo existe ninguna situaciГіn en la que debas explicar lo que estГЎs haciendo o pensando.\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\nрџЋЇ OBJETIVO PRINCIPAL\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\nCalificar leads iniciando con un mensaje de apertura cГЎlido, luego recopilar informaciГіn financiera antes de enviar fichas de propiedades. Tu rol es atender al cliente\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\nрџ“ќ FORMATO DE RESPUESTA OBLIGATORIO\n\n- Genera EXACTAMENTE UN mensaje por turno\n- DespuГ©s de enviar tu mensaje, TERMINA y espera\n- NUNCA simules o anticipes la respuesta del cliente\n\nрџљЁ REGLA CRГЌTICA: Solo genera mensajes que le dirГ­as directamente al cliente\n\n-si el cliente envia un audio , pide que escriba el mensaje ya que no podes escuchar audios \n\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\nрџџў PRIMER MENSAJE (INICIO DE CONVERSACIГ“N)\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\n\n\"Hola! Mi nombre es Maga, asistente de Andres Ali de Remax diagonal II. Mientras preparo la informacion para enviarte comentame, tu busqueda es por banco o efectivo?\"\n\n**IMPORTANTE: Antes de enviar el mensaje de apertura, verifica que el contexto incluya la direcciГіn de la propiedad. si no especifica ninguna propiedad, pregunta acerca de que propiedad esta consultando**\n\n\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\nрџ’¬ TU PERSONALIDAD\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\nвњ… SГ© conversacional, cГЎlida y cercana\nвњ… Pregunta UNA COSA a la vez\nвњ… MantГ©n tono profesional pero accesible\nвњ… Usa emojis con moderaciГіn\n\nвќЊ NO uses: \"che\", \"te copa\", \"dime\", \"hazme\", \"vale\"\nвќЊ NO seas robГіtica ni formal en exceso\nвќЊ NO hagas mГєltiples preguntas en un solo mensaje\nвќЊ NO contestes emojis\nвќЊ NO te presentes mas de una vez, solo en el mensaje inicial\n\nSI NO HAY NADA QUE RESPONDER: Devuelve un un simple \"рџ‘Ќ\"\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\nрџ“‹ SECUENCIA DE CALIFICACIГ“N\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\nSigue este orden (adaptГЎndote al flujo natural):\n\n\n0 PRESUPUESTO\nPregunta: \"En que rango de valor es tu busqueda?\"\n\n1пёЏвѓЈ FORMA DE PAGO  \nPregunta: \"ВїTu bГєsqueda es con banco o efectivo?\"  \nSi responde banco: \"ВїYa tenГ©s la precalificaciГіn?\"  \nAlternativa: \"ВїNecesitГЎs vender una propiedad para comprar?\"\n\n2пёЏвѓЈ SITUACIГ“N FINANCIERA  \nSi mencionГі banco: \"ВїTenГ©s preaprobaciГіn? ВїDe quГ© banco?\"  \n\n3пёЏвѓЈ ENVГЌO DE FICHA  \nUsa \"Supabase Vector Store\" para buscar la propiedad.  \nEnvГ­a la ficha COMPLETA con el enlace UNA SOLA VEZ.  \nDespuГ©s pregunta: \"ВїSe ajusta a tu busqueda?\"\n\n4пёЏвѓЈ MANEJO DE OBJECIONES DE PRECIO  \n\nSI DICE QUE ES CARO (detecta: \"muy caro\", \"mГЎs barato\", \"no me alcanza\", \"fuera de presupuesto\"):  \n- Llama a la herrmanienta \"busqueda personalizada\"\n- Busca en el contexto \"Alternativas de menor valor\"  \n- Responde:  \n  \"Entiendo que buscГЎs algo mГЎs econГіmico рџ’°  \n  Te paso estas alternativas de menor valor:  \n  [Alternativas de menor valor]  \n  ВїQuerГ©s que te cuente mГЎs sobre alguna?\"\n\nMANEJO DE OBJECIONES DE COMODIDADES(PATIO, DORMITORIOS,ETC):  \n- Busca en el contexto de la misma propiedad por la que consulto y envia el contenido de \"Alternativas de mayor valor(ejemplo:si consulto por propiedad x busca el valor Alternativas de mayor valor correspondiente a esa propiedad\"  \n\n- Usa el mismo formato de respuesta\n\n-Si al cliente no le gusta ninguna opcion, ofrece una busqueda personalizada con andres y llama a la herramienta \"busqueda personalizada\"\n\n5пёЏвѓЈ CIERRE EN LLAMADA (OBLIGATORIO)  \n\nCuando hay interГ©s real Y ya conoces su situaciГіn financiera:  \n- SIEMPRE ofrece llamada con AndrГ©s  \n- Si muestra interes en tener una llamada o agendan una llama a la herramienta \"agendo llamada\"\n- Usa frases como:  \n  * \"ВїQuerГ©s que AndrГ©s te llame para coordinar la visita?\"  \n  * \"ВїQuГ© momento te viene mejor ?\"  \n   \n- no hagas demasiadas preguntas para la llamada\n- solo necesitas saber si quiere que lo llames, no busques un horario especifico\n- si muestra intencion de llamada, solo decile que lo vamos a llamar y despedite sin nada mas, sin agregado solo le decis que lo vamos a llamar\n- Si coordinas una llamada: \"Perfecto queda agendado!\" y llama a la herramienta \"agendo llamada\"\n- Si el usuario muestra intencion de coordinar una llamada llama a la tool \"agendo llamada\"\n-Si pide una visita, primero coordina una llamada con andres\n- Nunca coordines una visita, eso es despues de la llamada con Andres\n\n\n6- una vez se empieza a coordinar la llamda usa la herramienta \"agendo llamada\"\n\nвљ пёЏ IMPORTANTE:  \n- Si tenes presupuesto y modo de financiacion, ofrece una llamada directamente\n- Nunca confirmas una visita, solo coordinas llamdas\n- NUNCA ofrezcas hora exacta (Ej: \"a las 15hs\")  \n- Si el cliente pide que envies la ficha mandasela de inmediato\n- Si el cliente pide detalles de la propiedad que no tenes, ofrece coordinar una llamada con andres\n- Cuando envias la ficha incluye el link\n- SIEMPRE ofrece rangos (maГ±ana, tarde, noche)  \n- NO coordines visitas sin pasar por llamada primero  \n- NO ofrezcas llamada si no conoces su preaprobaciГіn y presupuesto\n- Se simple, no hagas demasiadas preguntas mas que el rango horario y el dia, con eso cerra la llamada diciendo: \"Perfecto te vamos a estar llamando :)\"\n- si el usuario muestra interes en coordinar una llamada: llama a la tool \"agendo llamada\"\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\nрџЏ  CAPTACIГ“N DE PROPIEDADES (VENTA O PERMUTA)\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\nSI EL CLIENTE MENCIONA:\n- \"Tengo una propiedad para vender\"\n- \"ВїAceptan permutas?\"\n- \"Necesito vender mi casa primero\"\n- Cualquier variante sobre vender o permutar\n\nSECUENCIA DE CAPTACIГ“N (pregunta de a UNA por vez):\n\n1пёЏвѓЈ UBICACIГ“N  \n\"Genial, para poder ayudarte mejor, Вїen quГ© zona estГЎ ubicada tu propiedad?\"\n\n2пёЏвѓЈ ESCRITURA  \n\"ВїLa propiedad tiene escritura al dГ­a?\"\n\n3пёЏвѓЈ CARACTERГЌSTICAS  \n\"Contame un poco sobre tu propiedad: ВїcuГЎntos ambientes tiene, metros aproximados, alguna caracterГ­stica destacada?\"\n\n4пёЏвѓЈ CIERRE EN LLAMADA (OBLIGATORIO)  \nUna vez que tengas ubicaciГіn, escritura y caracterГ­sticas:  \n\"Perfecto, con esta info AndrГ©s puede darte una mejor orientaciГіn рџ“ћ  \nВїQuerГ©s que te llame para hacer una tasaciГіn y ver las opciones que tenГ©s?\"\n\nвљ пёЏ IMPORTANTE CAPTACIГ“N:  \n- NO pidas fotos, videos ni documentaciГіn  \n- MantГ©n el tono conversacional y empГЎtico  \n- La llamada es el objetivo final tambiГ©n en captaciГіn  \n- Si menciona permuta Y estГЎ buscando comprar, recopila info de AMBAS propiedades\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\nвљ пёЏ REGLAS CRГЌTICAS\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\n1. **SIEMPRE verifica que la direcciГіn de la propiedad estГ© clara antes de proceder con la calificaciГіn**\n2. Si el cliente consulta sin especificar propiedad, pregunta PRIMERO por cuГЎl propiedad estГЎ consultando\n3. Cada ficha se envГ­a UNA SOLA VEZ por propiedad  \n4. Pregunta de a UNA cosa por vez  \n5. La llamada con AndrГ©s es el cierre OBLIGATORIO de toda conversaciГіn exitosa  \n6. NO inventes links ni compartas ningГєn enlace que no provenga del \"Supabase Vector Store\"\n7. NO ofrezcas ni menciones fotos, videos, planos, recorridos virtuales ni materiales adicionales\n8. El ГљNICO link que podГ©s enviar es el que proviene directamente de la herramienta \"Supabase Vector Store\"\n9. Si el contexto no incluye la direcciГіn de la propiedad, pregunta nuevamente por cual propiedad estГЎ consultando\n10. En captaciГіn de propiedades, NO pidas documentaciГіn ni fotos, solo info conversacional\n11. NO te presentes mas de una vez, solo en el mensaje inicial\n12. NUNCA agendas una visita, siempre agendas llamadas\n13. si el cliente envia un audio , pide que escriba el mensaje ya que no podes escuchar audios \n14. Si el cliente menciona una preferencia o peticiГіn especГ­fica (zona, barrio, \ncantidad de ambientes, caracterГ­sticas particulares, etc.) , llamГЎ inmediatamente a la herramienta \n\"busqueda personalizada\"\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\nвњ… RECORDATORIO FINAL\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\nTu meta es:\n- Identificar la propiedad de consulta ANTES de calificar\n- Ser Гєtil y humana  \n- Calificar financieramente al lead (compra) o recopilar info clave (venta/permuta)\n- SIEMPRE cerrar en llamada con AndrГ©s cuando hay interГ©s genuino  \n\nLa llamada NO es opcional: es el objetivo final de cada conversaciГіn exitosa."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        3536,
        6240
      ],
      "id": "34eec47d-f64e-4cd9-ae9f-756532f13b7b",
      "name": "RAG Agent"
    },
    {
      "parameters": {
        "contextWindowLength": 7
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        3344,
        6736
      ],
      "id": "56e27dfc-9756-40bd-9ddf-4ee903f30185",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "YT3mNrhEyWrQj9o3",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "audio",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2544,
        6000
      ],
      "id": "2cb79e75-cc84-4daa-8621-21ab4b7ae97e",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "BPTkrfKD8LOqnHgE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "get-media-base64",
        "instanceName": "={{ $('Webhook').item.json.body.instance }}",
        "messageId": "={{ $('Webhook').item.json.body.data.key.id }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1856,
        6000
      ],
      "id": "4b8bc32f-fb90-4e0c-9bea-9ad146743644",
      "name": "Obter m dia em base1",
      "credentials": {
        "evolutionApi": {
          "id": "JrhtEnlUegX9ixC7",
          "name": "Evolution account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data.base64",
        "binaryPropertyName": "audio",
        "options": {
          "mimeType": "audio/mp3"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2160,
        6000
      ],
      "id": "751f6ee5-62ba-401f-8d34-e0fe4f83d076",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "51ab2396-ecef-4d8e-9c3b-210f1af0412d",
              "leftValue": "={{ $('Normalice1').item.json.normalized.message.attachments[0].file_type }}",
              "rightValue": "=audio",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1504,
        6544
      ],
      "id": "0e72a192-e856-4e3d-a298-5fb13c1e9007",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT is_active FROM agent_status WHERE id = 1;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        352,
        6464
      ],
      "id": "bbd2c323-8cb2-43b2-859a-b883773280fe",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "YT3mNrhEyWrQj9o3",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3051bcde-ec1d-49aa-854d-19ac7751dcf5",
              "leftValue": "=={{ $json[\"is_active\"] }}",
              "rightValue": "==true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "010b770d-b628-4c53-8a2a-661ef0d3eb79",
              "leftValue": "={{ $('Normalice1').item.json.normalized.conversation.messages[0].sender.phone_number }}",
              "rightValue": "=+5492216273335",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1152,
        6560
      ],
      "id": "cbb790ea-e5f1-4434-9c30-a0b517f60bb6",
      "name": "If16",
      "executeOnce": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "16bc083f-880d-4a27-a4a0-b482a9bde8da",
              "name": "sessionId",
              "value": "={{ $('Webhook').item.json.body.conversation.messages[0].id }}",
              "type": "string"
            },
            {
              "id": "b0dac7b9-a371-4bb7-aa88-ebb653237973",
              "name": "mensajeConContexto",
              "value": "={{ $json.contextoManual ? ($json.contextoManual + '\\n\\n' + $json.mensajesTexto) : $json.mensajesTexto + $('Transcribe a recording').item.json.text}}",
              "type": "string"
            },
            {
              "id": "f6deef97-129a-49cc-b76f-ea7cd6ced223",
              "name": "audioConContexto",
              "value": "={{ $json.contextoManual ? ($json.contextoManual + '\\n\\n' + $json.mensajesTexto) : $json.mensajesTexto + $('Transcribe a recording').item.json.text}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3344,
        6240
      ],
      "id": "3155f4fc-b1f0-45b9-9a74-655c74a0159d",
      "name": "Edit Fields",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2368,
        6752
      ],
      "id": "d46faa85-578a-4161-acce-1d5a7789126e",
      "name": "Wait1",
      "webhookId": "96c27c05-96e6-490e-ac24-3c38c75c7d9b"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "Mensaje",
        "key": "={{ $('Normalice1').item.json.normalized.conversation.messages[0].sender.phone_number }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2080,
        6560
      ],
      "id": "ae8aa8c5-0a92-4533-a05d-ed10fef3386d",
      "name": "bufferRedis1",
      "credentials": {
        "redis": {
          "id": "IqjVekrFmnlXftuo",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Normalice1').item.json.normalized.conversation.messages[0].sender.phone_number }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2576,
        6560
      ],
      "id": "754df624-8f0a-458d-aa03-034f17138023",
      "name": "borrarRedis",
      "credentials": {
        "redis": {
          "id": "IqjVekrFmnlXftuo",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2576,
        6400
      ],
      "id": "f8e778f4-98f1-470d-b356-e002ba88bd83",
      "name": "sinAccion1"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Normalice1').item.json.normalized.conversation.messages[0].sender.phone_number }}",
        "messageData": "={{ JSON.stringify({\n    message :$('Normalice1').item.json.normalized.conversation.messages[0].content ,\nsessionID:$('Normalice1').item.json.normalized.conversation.contact_inbox.id ,\ndate_time : $('Webhook').item.json.body.created_at\n}) }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1808,
        6560
      ],
      "id": "ae2595f1-74ee-43ac-98d5-2548f2f0941b",
      "name": "pushRedis1",
      "alwaysOutputData": false,
      "credentials": {
        "redis": {
          "id": "IqjVekrFmnlXftuo",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ JSON.parse(\n  $json.Mensaje\n    .filter(m => m.trim().startsWith('{'))\n    .slice(-1)[0]\n    .split('||')[0]\n    .trim()\n).sessionID }}\n",
                    "rightValue": "={{ $('Normalice1').item.json.normalized.conversation.contact_inbox.id }}",
                    "operator": {
                      "type": "number",
                      "operation": "notEquals"
                    },
                    "id": "81c7205c-84c9-480e-8b5a-1a12b5ff7baa"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ignorar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4fca4c39-e8bf-490b-8e2e-176c95d9156e",
                    "leftValue": "={{\n  (() => {\n    try {\n      const mensaje = $json.Mensaje\n        .filter(m => m.trim().startsWith('{'))\n        .slice(-1)[0]\n        .split('||')[0]\n        .trim();\n      \n      const parsedDate = JSON.parse(mensaje).date_time;\n      \n      // Intentar primero con DateTime.fromISO\n      const dateTime = DateTime.fromISO(parsedDate);\n      \n      // Si es vГЎlido, retornar el DateTime\n      if (dateTime.isValid) {\n        return dateTime;\n      }\n      \n      // Si no es vГЎlido como ISO, intentar parsearlo como timestamp u otro formato\n      // Intentar como timestamp (nГєmero)\n      if (!isNaN(parsedDate)) {\n        return DateTime.fromMillis(Number(parsedDate));\n      }\n      \n      // Intentar otros formatos comunes\n      return DateTime.fromSQL(parsedDate) || \n             DateTime.fromHTTP(parsedDate) || \n             DateTime.fromRFC2822(parsedDate) ||\n             parsedDate;\n      \n    } catch (error) {\n      return null;\n    }\n  })()\n}}",
                    "rightValue": "={{ $now.minus(7, 'seconds').toLocal() }}",
                    "operator": {
                      "type": "dateTime",
                      "operation": "before"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Continuar"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Esperar"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2368,
        6480
      ],
      "id": "6dbdf6fb-eada-478d-af1b-ebe265e94d87",
      "name": "Switch1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7b81f90e-0cdc-42d0-8ec1-7d6a8dd320b6",
              "leftValue": "={{ $('Normalice1').item.json.normalized.conversation.messages[0].content }}",
              "rightValue": "Hola! Quiero coordinar una llamada sobre el depto de Plaza Paso",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "8cf3774b-e9df-48c3-9873-22ff77e1527f",
              "leftValue": "={{ $('Normalice1').item.json.normalized.conversation.messages[0].content }}",
              "rightValue": "Hola! Quiero mГЎs informaciГіn sobre el depto de Plaza Paso",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "7010cb70-2f2c-4ff7-839f-48d477111eda",
              "leftValue": "={{ $('Normalice1').item.json.normalized.conversation.messages[0].content }}",
              "rightValue": "Hola! Quiero agendar una visita en el depto de Plaza Paso",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "aa409b85-1927-4309-ba09-7f7265342d5b",
              "leftValue": "={{ $('Normalice1').item.json.normalized.conversation.messages[0].content }}",
              "rightValue": "Hola! Quiero coordinar una llamada sobre Haras del Sur II",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "0ceba8b6-31f6-47ee-b083-962befdce0bb",
              "leftValue": "={{ $('Normalice1').item.json.normalized.conversation.messages[0].content }}",
              "rightValue": "Hola! Quiero agendar una visita en Haras del Sur II",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "dab8fdb6-e308-407a-8df7-b3cdf0f2b8d4",
              "leftValue": "={{ $('Normalice1').item.json.normalized.conversation.messages[0].content }}",
              "rightValue": "Hola! Quiero agendar una visita en Haras del Sur II",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "0b6cc0de-2e12-41bd-b17d-dbb7c8e189cf",
              "leftValue": "={{ $('Normalice1').item.json.normalized.conversation.messages[0].content }}",
              "rightValue": "Hola! Quiero coordinar una llamada sobre 60 e/ 15 y 16",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "428b0979-9ecd-46a1-8dd4-8834cf306456",
              "leftValue": "={{ $('Normalice1').item.json.normalized.conversation.messages[0].content }}",
              "rightValue": "Hola! Quiero mГЎs informaciГіn de 60 e/ 15 y 16",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "4f52295a-d3eb-4e6e-b513-fe33922cbccc",
              "leftValue": "={{ $('Normalice1').item.json.body.messages[0].content }}",
              "rightValue": "Hola! Quiero agendar una visita en 60 e/ 15 y 16",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -304,
        6176
      ],
      "id": "07a5b67a-d931-4c9b-8ef2-0c8d100daf65",
      "name": "If17"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3051bcde-ec1d-49aa-854d-19ac7751dcf5",
              "leftValue": "={{ $('Normalice1').item.json.normalized.conversation.messages[0].content }}",
              "rightValue": "=Hola! Quiero coordinar una llamada sobre 139 e/ 64 y 65",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "3b5e2fbb-a33f-4256-b2ef-a9fdd934ef50",
              "leftValue": "={{ $('Normalice1').item.json.normalized.conversation.messages[0].content }}",
              "rightValue": "Hola! Quiero mГЎs informaciГіn de 139 e/ 64 y 65",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "8eeba288-096a-484f-906b-af240099117f",
              "leftValue": "={{ $('Webhook').item.json.body.conversation.messages[0].content }}",
              "rightValue": "Hola! Quiero agendar una visita en 139 e/ 64 y 65",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "1f7083c6-13be-4d36-87da-55176b393fb7",
              "leftValue": "={{ $('Webhook').item.json.body.conversation.messages[0].content }}",
              "rightValue": "Hola! Quiero coordinar una llamada sobre 27 e/ 496 y 497",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "4a8e9d33-dcb9-46a8-af1c-2903edf6b31b",
              "leftValue": "={{ $('Webhook').item.json.body.conversation.messages[0].content }}",
              "rightValue": "Hola! Quiero mГЎs informaciГіn de 27 e/ 496 y 497",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "2b47d5b0-de53-4e05-a22c-40ffc5f984a6",
              "leftValue": "={{ $('Webhook').item.json.body.conversation.messages[0].content }}",
              "rightValue": "Hola! Quiero agendar una visita en 27 e/ 496 y 497",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "9b075d5b-add6-42c9-b391-ef0149736f3f",
              "leftValue": "Hola! Quiero mГЎs informaciГіn de 60 e/ 15 y 16",
              "rightValue": "={{ $('Webhook').item.json.body.conversation.messages[0].content }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -32,
        6192
      ],
      "id": "34ffad50-9a03-4110-8414-64555f196978",
      "name": "If18",
      "executeOnce": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6d52bd36-b56f-411d-a5e3-2094e1ea8d73",
              "leftValue": "={{ $json.estado_chat }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1360,
        6336
      ],
      "id": "ae699b74-e2f4-4c88-8d61-29c9e4e56047",
      "name": "Is Conv Active?",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "e73b87b2-76b2-4ac6-bc0a-da3a676e48b0",
              "leftValue": "={{ $('Webhook').item.json.body.sender.identifier }}",
              "rightValue": "=ad",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -672,
        6160
      ],
      "id": "8728a2b3-dc32-42fd-bbe9-1d8b730c280d",
      "name": "If19"
    },
    {
      "parameters": {
        "jsCode": "// ===================================================\n// FORMATEAR HISTORIAL - ГљLTIMOS 10 MENSAJES\n// ===================================================\n\nconst normalized = $('Normalice1').item.json.normalized;\nconst historialResponse = $input.first().json;\n\n// ==============================\n// DATOS DEL CONTACTO\n// ==============================\nconst from = normalized.whatsapp_id || 'desconocido';\nconst contactName = normalized.contact_name || 'Cliente';\n\nconsole.log('=== PROCESANDO HISTORIAL DE CHATWOOT ===');\nconsole.log('From:', from);\nconsole.log('Contact name:', contactName);\n\n// ==============================\n// OBTENER MENSAJES DEL HISTORIAL\n// ==============================\nlet mensajes = [];\n\n// Chatwoot puede devolver array directo o dentro de \"payload\" o \"data\"\nif (Array.isArray(historialResponse)) {\n  mensajes = historialResponse;\n} else if (historialResponse.payload && Array.isArray(historialResponse.payload)) {\n  mensajes = historialResponse.payload;\n} else if (historialResponse.data && Array.isArray(historialResponse.data)) {\n  mensajes = historialResponse.data;\n}\n\nconsole.log('Total mensajes encontrados en historial:', mensajes.length);\n\nif (mensajes.length === 0) {\n  return [{\n    json: {\n      contextoManual: '',\n      sinMensajes: true,\n      from,\n      contactName\n    }\n  }];\n}\n\n// ==============================\n// ORDENAR (mГЎs antiguos primero)\n// ==============================\nmensajes.sort((a, b) => {\n  const tA = a.created_at || 0;\n  const tB = b.created_at || 0;\n  return tA - tB;\n});\n\n// ==============================\n// TOMAR ГљLTIMOS 10 MENSAJES\n// ==============================\nconst mensajesRecientes = mensajes.slice(-10);\n\nconsole.log('Mensajes a procesar (Гєltimos 10):', mensajesRecientes.length);\n\n// ==============================\n// FORMATEAR CONVERSACIГ“N\n// ==============================\nconst conversacion = mensajesRecientes\n  .map(msg => {\n    // Ignorar mensajes de actividad (message_type: 2)\n    if (msg.message_type === 2) {\n      return null;\n    }\n\n    // Determinar si es del cliente o del agente\n    // message_type: 0 = incoming (cliente)\n    // message_type: 1 = outgoing (agente/bot)\n    const esCliente = msg.message_type === 0;\n\n    let contenido = msg.content || '';\n\n    // Manejar attachments\n    if (msg.attachments && msg.attachments.length > 0) {\n      const attachment = msg.attachments[0];\n      if (attachment.file_type === 'image') {\n        contenido = `[Imagen${contenido ? ': ' + contenido : ''}]`;\n      } else if (attachment.file_type === 'audio') {\n        contenido = '[Audio]';\n      } else if (attachment.file_type === 'video') {\n        contenido = '[Video]';\n      } else if (attachment.file_type === 'file') {\n        contenido = `[Documento${contenido ? ': ' + contenido : ''}]`;\n      } else {\n        contenido = `[${attachment.file_type}]`;\n      }\n    }\n\n    // Si no hay contenido, saltar\n    if (!contenido) {\n      return null;\n    }\n\n    const quien = esCliente ? 'CLIENTE' : 'TГљ (ANDRГ‰S)';\n\n    // Convertir timestamp Unix a fecha legible (Argentina)\n    const fecha = new Date(msg.created_at * 1000);\n    const timestamp = fecha.toLocaleString('es-AR', {\n      timeZone: 'America/Argentina/Buenos_Aires',\n      day: '2-digit',\n      month: '2-digit',\n      hour: '2-digit',\n      minute: '2-digit'\n    });\n\n    return `[${timestamp}] ${quien}: ${contenido}`;\n  })\n  .filter(Boolean)\n  .join('\\n');\n\n// ==============================\n// CONTEXTO FINAL\n// ==============================\nconst contextoManual = `\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nвљ пёЏ  CONTEXTO IMPORTANTE - AGENTE REACTIVADO\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\nMientras estuviste INACTIVO, hubo esta conversaciГіn donde TГљ (AndrГ©s) respondiste manualmente:\n\n${conversacion}\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nINSTRUCCIONES CRГЌTICAS:\n- Retomas ahora la conversaciГіn automГЎticamente\n- Tienes TODO el contexto de lo que AndrГ©s hablГі manualmente\n- NO repitas informaciГіn que AndrГ©s ya dio\n- NO vuelvas a hacer preguntas que AndrГ©s ya hizo\n- ContinГєa naturalmente desde el Гєltimo mensaje\n- Si ya se coordinГі algo, respГ©talo y no lo cambies\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n`;\n\nconsole.log('вњ… Contexto manual generado');\nconsole.log('Mensajes procesados:', mensajesRecientes.length);\nconsole.log('Гљltimos 3 mensajes:', conversacion.split('\\n').slice(-3).join('\\n'));\n\nreturn [{\n  json: {\n    contextoManual,\n    totalMensajes: mensajesRecientes.length,\n    from,\n    contactName,\n    ultimoMensaje: conversacion.split('\\n').pop(),\n    mensajesCompletos: conversacion\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2352,
        6992
      ],
      "id": "f1e16bde-3018-44d5-965c-1f6afd2d09dc",
      "name": "Formatear Historial"
    },
    {
      "parameters": {
        "url": "=https://mia-chatwoot.w9weud.easypanel.host/api/v1/accounts/2/conversations/{{ $('Normalice1').item.json.normalized.conversation.id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "axxJevEaPpRy4VJTfHS93LQr"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1136,
        6992
      ],
      "id": "6dd24dc5-f9b0-4648-a77e-ece5b1cc201c",
      "name": "Obtener Historial Evolution",
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "jsCode": "const estadoAgente = $input.first().json.is_active;\nconst webhookData = $('Webhook').first().json;\n\n// вњ… ESTRUCTURA CHATWOOT\nconst from = webhookData.body.conversation.contact_inbox.source_id;\nconst texto = webhookData.body.content?.trim().toLowerCase();\nconst conversationId = webhookData.body.conversation.id;\nconst inboxId = webhookData.body.inbox.id;\nconst contactName = webhookData.body.sender.name;\nconst accountId = webhookData.body.account.id;\n\nconsole.log('=== VERIFICANDO REACTIVACIГ“N ===');\nconsole.log('Estado agente:', estadoAgente);\nconsole.log('Comando recibido:', texto);\nconsole.log('From (nГєmero):', from);\nconsole.log('Contact Name:', contactName);\nconsole.log('Conversation ID:', conversationId);\nconsole.log('Inbox ID:', inboxId);\nconsole.log('Account ID:', accountId);\n\n// Validar que tenemos los datos mГ­nimos\nif (!from) {\n  console.log('вќЊ No se pudo extraer el nГєmero del remitente');\n  return [{\n    json: {\n      error: true,\n      motivo: 'No se pudo extraer from del webhook'\n    }\n  }];\n}\n\n// Si el agente estГЎ activo Y el comando fue \"...\" (reactivaciГіn)\nif (estadoAgente === true && texto === '...') {\n  console.log('рџџў REACTIVACIГ“N DETECTADA - Sincronizar mensajes desde Chatwoot');\n  \n  return [{\n    json: {\n      is_active: true,\n      requiere_sincronizacion: true,\n      from: from,\n      contactName: contactName,\n      chatwootConversationId: conversationId,\n      chatwootInboxId: inboxId,\n      accountId: accountId\n    }\n  }];\n}\n\n// Si el agente estГЎ activo pero NO es comando de reactivaciГіn\nif (estadoAgente === true) {\n  console.log('вњ… Agente activo - continuar flujo normal');\n  return [{\n    json: {\n      is_active: true,\n      requiere_sincronizacion: false,\n      from: from,\n      contactName: contactName,\n      conversationId: conversationId,\n      continuar_flujo_normal: true\n    }\n  }];\n}\n\n// Si el agente estГЎ inactivo\nconsole.log('рџ”ґ Agente inactivo');\nreturn [{\n  json: {\n    is_active: false,\n    requiere_sincronizacion: false,\n    from: from,\n    contactName: contactName,\n    conversationId: conversationId\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        6720
      ],
      "id": "47ebcfb2-0768-4022-a9e0-46361ae8b9dd",
      "name": "Detectar ReactivaciГіn"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3120,
        6544
      ],
      "id": "d6bb1aad-dd41-4258-bc4f-725f0cd285a3",
      "name": "Merge Contexto",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3051bcde-ec1d-49aa-854d-19ac7751dcf5",
              "leftValue": "=={{ $json[\"is_active\"] }}",
              "rightValue": "==true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "923aa7ad-0c63-49df-9da8-7429cc9a8e5e",
              "leftValue": "={{ $('Normalice1').item.json.normalized.conversation.messages[0].sender.phone_number }}",
              "rightValue": "=+5492216273335",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        336,
        6784
      ],
      "id": "e01092af-e2d7-4523-8e4b-0db4fc3d0cd6",
      "name": "If20",
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "// ===================================================\n// VERIFICAR Y PROGRAMAR SEGUIMIENTO 24H вЂ” NORMALICE\n// ===================================================\n\nconst normalized = $('Normalice1').item.json.normalized;\nconst respuestaEnviada = $input.first().json;\n\n// ==============================\n// EXTRAER DATOS\n// ==============================\nconst remoteJid =\n  normalized.conversation.messages[0]?.sender?.phone_number ||\n  'desconocido';\n\nconst sessionId =\n  normalized.conversation.contact_inbox?.id ||\n  remoteJid;\n\n// Conversation ID lГіgico (ya no depende de Chatwoot)\nconst conversationId =\n  normalized.conversation.id ||\n  `${remoteJid}-${sessionId}`;\n\nconsole.log('=== VERIFICAR Y PROGRAMAR SEGUIMIENTO 24H ===');\nconsole.log('Remote JID (phone):', remoteJid);\nconsole.log('Session ID:', sessionId);\nconsole.log('Conversation ID:', conversationId);\n\n// ==============================\n// NO PROCESAR NГљMERO DE ANDRГ‰S\n// ==============================\nif (remoteJid === '5492214633333' || remoteJid === '+5492214633333') {\n  console.log('в­ђпёЏ Saltando nГєmero de AndrГ©s');\n  return [];\n}\n\n// ==============================\n// CALCULAR FECHA DE SEGUIMIENTO\n// ==============================\nconst ahora = new Date();\nconst fechaSeguimiento = new Date(\n  ahora.getTime() + (22 * 60 * 60 * 1000)\n);\n\nconst fechaSeguimientoISO = fechaSeguimiento.toISOString();\n\nconsole.log('Fecha seguimiento programada (UTC):', fechaSeguimientoISO);\n\n// ==============================\n// INSERT SEGUIMIENTO (ANTI-DUPLICADOS)\n// ==============================\nreturn [{\n  json: {\n    query: `\n      INSERT INTO cola_seguimientos (\n        remote_jid,\n        session_id,\n        chatwoot_conversation_id,\n        fecha_programada,\n        estado,\n        fecha_ultima_interaccion\n      )\n      SELECT $1, $2, $3, $4::timestamptz, 'pendiente', NOW()\n      WHERE NOT EXISTS (\n        SELECT 1\n        FROM cola_seguimientos\n        WHERE remote_jid = $1\n          AND estado = 'pendiente'\n          AND fecha_programada::date = $4::timestamptz::date\n      )\n      RETURNING id, remote_jid, chatwoot_conversation_id, fecha_programada;\n    `,\n    parameters: [\n      remoteJid,\n      sessionId,\n      conversationId,\n      fechaSeguimientoISO\n    ]\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4320,
        5856
      ],
      "id": "70960d35-eb27-463c-8cb1-6ea5ca0f0548",
      "name": "Code - Registrar para Seguimiento"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.query }}",
        "options": {
          "queryReplacement": "={{ $json.parameters }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4624,
        5856
      ],
      "id": "75de3cea-7cf7-4d01-a101-86df18a6dd43",
      "name": "SQL - Agregar a Cola Seguimiento",
      "credentials": {
        "postgres": {
          "id": "YT3mNrhEyWrQj9o3",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dd134e67-3aa2-4d6f-ab1f-01793a1dbe7b",
              "leftValue": "={{ $json.normalized.conversation.messages[0].sender.phone_number }}",
              "rightValue": "=5492216273335",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1936,
        6320
      ],
      "id": "26d384c1-68d4-4da1-b635-e2a115d47194",
      "name": "If21"
    },
    {
      "parameters": {
        "jsCode": "const webhookData = $('Webhook').first().json;\nconst ejecutarSQL = $('Execute a SQL query').first().json;\n\n// Extraer datos\nconst remoteJid = webhookData?.body?.conversation?.contact_inbox?.source_id;\nconst mensaje = webhookData?.body?.content || '';\nconst pushName = webhookData?.body?.sender?.name || null;\nconst chatwootConversationId = webhookData?.body?.conversation?.id || null;\n\nconsole.log('Remote JID:', remoteJid);\nconsole.log('Mensaje:', mensaje);\n\n// Validaciones\nif (!remoteJid || !mensaje) {\n  console.log('вќЊ Faltan datos');\n  return [];\n}\n\nconst whatsappId = remoteJid.replace('+', '');\n\n// No guardar comandos ni mensajes de AndrГ©s\nconst textoLimpio = mensaje.trim().toLowerCase();\nif (textoLimpio === '..' || textoLimpio === '...' || \n    whatsappId === '5492216273335' || whatsappId === '5492214633333') {\n  console.log('вЏ­пёЏ Saltando mensaje');\n  return [];\n}\n\n// Usar NOW() en vez de pasar timestamp\nconst query = `\n  INSERT INTO mensajes_pendientes (\n    remote_jid,\n    mensaje,\n    push_name,\n    chatwoot_conversation_id,\n    fecha_recibido,\n    estado,\n    intentos_procesamiento\n  )\n  VALUES (\n    '${whatsappId}',\n    '${mensaje.replace(/'/g, \"''\")}',\n    ${pushName ? `'${pushName.replace(/'/g, \"''\")}'` : 'NULL'},\n    ${chatwootConversationId || 'NULL'},\n    NOW(),\n    'pendiente',\n    0\n  )\n  ON CONFLICT (remote_jid, fecha_recibido) \n  DO UPDATE SET\n    mensaje = EXCLUDED.mensaje,\n    push_name = EXCLUDED.push_name,\n    chatwoot_conversation_id = EXCLUDED.chatwoot_conversation_id\n  RETURNING id, remote_jid, mensaje;\n`;\n\nconsole.log('Query generado OK');\n\nreturn [{ json: { query: query } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        7072
      ],
      "id": "eaafd0bf-f85d-4bde-a1c5-690c779e45d0",
      "name": "Guardar mensaje si inactivo"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "gpt-5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3344,
        6608
      ],
      "id": "20ee0293-8c92-4f38-95fb-35bc29ef62b8",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "BPTkrfKD8LOqnHgE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.query }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        336,
        7328
      ],
      "id": "c01e7101-7e94-4587-a846-617216a767cc",
      "name": "SQL - Guardar Mensaje Pendiente",
      "credentials": {
        "postgres": {
          "id": "YT3mNrhEyWrQj9o3",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Lista de JIDs a borrar\nconst jidsABorrar = [\n  \"+5492214957804\"\n];\n\nreturn jidsABorrar.map(jid => ({\n  json: { key: jid }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        7120
      ],
      "id": "f300a704-5e39-4ab1-bd74-6fd00b5c5d16",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=campaГ±a_ocho:{{ $json.key }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -80,
        7120
      ],
      "id": "841decae-5ea0-4409-9eb1-827a6fe9ac15",
      "name": "borrarRedis6",
      "credentials": {
        "redis": {
          "id": "IqjVekrFmnlXftuo",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const jidsAVerificar = [\n  \n  \"+5492214957804\"\n];\n\nreturn jidsAVerificar.map(jid => ({\n  json: { \n    key: jid,\n    tipo: \"mensaje\" // o el tipo de key que sea\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        7312
      ],
      "id": "f4c3ca08-5401-4e0c-b1c9-84fe74a06c5e",
      "name": "Code10"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "campaГ±a_ocho",
        "key": "=campaГ±a_ocho:{{ $json.key }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -80,
        7312
      ],
      "id": "d7ad6433-6e02-4f2a-afb6-4c07110fc961",
      "name": "borrarRedis7",
      "credentials": {
        "redis": {
          "id": "IqjVekrFmnlXftuo",
          "name": "Redis account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $json.key }}",
        "value": "1",
        "expire": true,
        "ttl": 86400
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -80,
        6912
      ],
      "id": "2683bf7a-9c40-4de4-b8ce-fc475e4ff511",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "IqjVekrFmnlXftuo",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Agregar un JID a Redis con valor \"1\" y expiraciГіn de 24 horas\nconst jidAgregar = \"+5492214957804\";\n\nreturn [{\n  json: {\n    operation: \"set\",\n    key: `campaГ±a_ocho:${jidAgregar}`,\n    value: \"1\",\n    expire: true,\n    ttl: 86400 // 24 horas en segundos\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        6912
      ],
      "id": "2730bff4-dd64-4590-a126-d093839cabfb",
      "name": "Code11"
    },
    {
      "parameters": {
        "url": "=https://app.chatwoot.com/api/v1/accounts/135793/conversations/{{ $('Webhook').item.json.body.data.chatwootConversationId }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api_access_token",
              "value": "iL7EfaPAhg1ocvz4s9m4eSmJ"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2816,
        5904
      ],
      "id": "4cc42fc8-e17d-4d72-9608-1026bfadc7c4",
      "name": "Obtener Historial Evolution4",
      "credentials": {
        "httpBearerAuth": {
          "id": "lwTUWiP0RaCV5Kuz",
          "name": "Bearer Auth account 3"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const respuestaChatwoot = $input.first().json;\nconst webhookData = $('Webhook').first().json;\nconst remoteJid = webhookData.body.data.key.remoteJid;\n\nconsole.log('=== PROCESANDO HISTORIAL DE CHATWOOT ===');\n\n// Chatwoot puede devolver array directo o dentro de \"payload\"\nlet mensajes = [];\n\nif (Array.isArray(respuestaChatwoot)) {\n  mensajes = respuestaChatwoot;\n} else if (respuestaChatwoot.payload && Array.isArray(respuestaChatwoot.payload)) {\n  mensajes = respuestaChatwoot.payload;\n} else if (respuestaChatwoot.data && Array.isArray(respuestaChatwoot.data)) {\n  mensajes = respuestaChatwoot.data;\n}\n\nconsole.log('Total mensajes encontrados:', mensajes.length);\n\nif (mensajes.length === 0) {\n  return [{\n    json: {\n      contextoManual: '',\n      sinMensajes: true,\n      remoteJid: remoteJid\n    }\n  }];\n}\n\n// Ordenar por timestamp (mГЎs antiguos primero)\nmensajes.sort((a, b) => {\n  const timeA = a.created_at || 0;\n  const timeB = b.created_at || 0;\n  return timeA - timeB;\n});\n\n// Tomar solo los Гєltimos 30 mensajes\nconst mensajesRecientes = mensajes.slice(-30);\n\nconsole.log('Mensajes a procesar:', mensajesRecientes.length);\n\n// Formatear conversaciГіn\nconst conversacion = mensajesRecientes.map(msg => {\n  // En Chatwoot:\n  // message_type: 0 = incoming (cliente)\n  // message_type: 1 = outgoing (agente/bot)\n  // message_type: 2 = activity (sistema)\n  const esDelUsuario = msg.message_type === 0;\n  const esDelAgente = msg.message_type === 1;\n  const esActividad = msg.message_type === 2;\n  \n  // Ignorar mensajes de actividad\n  if (esActividad) {\n    return null;\n  }\n  \n  // Extraer contenido\n  let contenido = msg.content || '';\n  \n  // Si tiene attachments\n  if (msg.attachments && msg.attachments.length > 0) {\n    const attachment = msg.attachments[0];\n    if (attachment.file_type === 'image') {\n      contenido = `[Imagen${contenido ? ': ' + contenido : ''}]`;\n    } else if (attachment.file_type === 'audio') {\n      contenido = '[Audio]';\n    } else if (attachment.file_type === 'video') {\n      contenido = '[Video]';\n    } else if (attachment.file_type === 'file') {\n      contenido = `[Documento${contenido ? ': ' + contenido : ''}]`;\n    } else {\n      contenido = `[${attachment.file_type}]`;\n    }\n  }\n  \n  const quien = esDelUsuario ? 'CLIENTE' : 'TГљ (ANDRГ‰S)';\n  \n  // Convertir timestamp a fecha legible\n  const fecha = new Date(msg.created_at * 1000);\n  const timestamp = fecha.toLocaleString('es-AR', { \n    timeZone: 'America/Argentina/Buenos_Aires',\n    day: '2-digit',\n    month: '2-digit',\n    hour: '2-digit',\n    minute: '2-digit'\n  });\n  \n  return `[${timestamp}] ${quien}: ${contenido}`;\n}).filter(m => m !== null).join('\\n');\n\n// Crear contexto formateado\nconst contextoManual = `\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nвљ пёЏ  CONTEXTO IMPORTANTE - AGENTE REACTIVADO\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n\nMientras estuviste INACTIVO, hubo esta conversaciГіn donde TГљ (AndrГ©s) respondiste manualmente:\n\n${conversacion}\n\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\nINSTRUCCIONES CRГЌTICAS:\n- Retomas ahora la conversaciГіn automГЎticamente\n- Tienes TODO el contexto de lo que AndrГ©s hablГі manualmente\n- NO repitas informaciГіn que AndrГ©s ya dio\n- NO vuelvas a hacer preguntas que AndrГ©s ya hizo\n- ContinГєa naturalmente desde el Гєltimo mensaje\n- Si ya se coordinГі algo, respГ©talo y no lo cambies\nв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n`;\n\nconsole.log('вњ… Contexto manual generado');\nconsole.log('Mensajes procesados:', mensajesRecientes.length);\nconsole.log('Гљltimos 3 mensajes:', conversacion.split('\\n').slice(-3).join('\\n'));\n\nreturn [{\n  json: {\n    contextoManual: contextoManual,\n    totalMensajes: mensajesRecientes.length,\n    remoteJid: remoteJid,\n    ultimoMensaje: conversacion.split('\\n').pop(),\n    mensajesCompletos: conversacion\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3056,
        5904
      ],
      "id": "8cd9a291-0587-4c77-a804-e9c4dbe37bab",
      "name": "Formatear Historial4",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3072,
        6160
      ],
      "id": "b0439614-9e51-4daf-8dae-93aa1f8bebe5",
      "name": "Merge Contexto4",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// SOLUCIГ“N: Acceder a nodos anteriores explГ­citamente\nconst agentOutput = $input.first().json.output || '';\nconst webhookData = $('Webhook').first().json;\nconst borrarRedisData = $('borrarRedis').first()?.json;\n\n// вњ… CHATWOOT: Extraer whatsapp_id del source_id\nlet whatsappId = webhookData?.body?.conversation?.contact_inbox?.source_id;\n\n// Normalizar whatsapp_id (quitar prefijos si existen)\nif (whatsappId) {\n  whatsappId = whatsappId.replace('@s.whatsapp.net', '').replace('@c.us', '').replace('+', '');\n}\n\n// вњ… CHATWOOT: Extraer pushName del sender\nconst pushName = webhookData?.body?.sender?.name || null;\nconsole.log('рџ“± pushName de Chatwoot:', pushName);\n\n// Extraer mensaje del usuario desde borrarRedis1 o directamente del webhook\nlet userMessage = '';\nif (borrarRedisData?.mensajesTexto) {\n  userMessage = borrarRedisData.mensajesTexto;\n} else {\n  // вњ… CHATWOOT: El contenido estГЎ en body.content\n  userMessage = webhookData?.body?.content || '';\n}\n\nconsole.log('=== DATOS EXTRAГЌDOS ===');\nconsole.log('WhatsApp ID:', whatsappId);\nconsole.log('Mensaje usuario:', userMessage.substring(0, 100));\nconsole.log('Respuesta agente:', agentOutput.substring(0, 100));\n\nif (!whatsappId) {\n  throw new Error('No se pudo extraer el whatsapp_id. Verifica el flujo.');\n}\n\n// FunciГіn para extraer informaciГіn del contexto\nfunction extractLeadInfo(userMsg, agentMsg) {\n  const info = {\n    whatsapp_id: whatsappId,\n    nombre: null,\n    presupuesto: null,\n    zona: null,\n    tipo_propiedad: null,\n    forma_pago: null,\n    intencion: null,\n    caracteristicas_buscadas: null,\n    caracteristicas_venta: null,\n    propiedad_interes: null,\n    estado: null,\n    ultima_interaccion: new Date().toISOString()\n  };\n\n  // в•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n  // CALIFICACIГ“N AUTOMГЃTICA POR MENSAJES\n  // в•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђв•ђ\n  try {\n    // рџ”’ PROTECCIГ“N: Si el estado actual en DB ya es llamada, busqueda o visita, no tocar\n    const estadoActual = $('SQL - Cancelar Seguimiento').first()?.json?.estado || null;\n    \n    if (['llamada', 'busqueda', 'visita'].includes(estadoActual)) {\n      info.estado = estadoActual;\n      console.log(`рџ”’ Estado protegido: \"${estadoActual}\" вЂ” no se recalcula`);\n    } else {\n      // CalificaciГіn normal por cantidad de mensajes\n      const historialData = $('Formatear Historial').item?.json;\n      const totalMensajes = historialData?.totalMensajes || 0;\n      \n      if (totalMensajes <= 2) {\n        info.estado = 'frio';\n      } else if (totalMensajes <= 15) {\n        info.estado = 'tibio';\n      } else {\n        info.estado = 'caliente';\n      }\n      console.log(`рџ“Љ Lead calificado como \"${info.estado}\" (${totalMensajes} mensajes)`);\n    }\n  } catch (e) {\n    info.estado = 'frio';\n    console.log('рџ“Љ Lead calificado como \"frio\" por defecto (sin historial)');\n  }\n\n  const fullContext = (userMsg + ' ' + agentMsg).toLowerCase();\n  console.log('Contexto completo:', fullContext.substring(0, 200));\n\n  // Extraer intenciГіn (comprar o vender)\n  if (fullContext.match(/\\b(quiero comprar|busco comprar|interesa comprar|me interesa|quiero una propiedad|estoy buscando|necesito comprar|busco|info|informaciГіn)\\b/)) {\n    info.intencion = 'comprar';\n  } else if (fullContext.match(/\\b(quiero vender|vender mi|tengo una propiedad|quiero publicar|poner en venta)\\b/)) {\n    info.intencion = 'vender';\n  }\n\n  // Extraer tipo de propiedad\n  const tiposPropiedad = {\n    'departamento': /\\b(departamento|depto|dto|dpto)\\b/,\n    'casa': /\\b(casa|vivienda)\\b/,\n    'ph': /\\b(ph|p\\.h\\.|petit hotel)\\b/,\n    'terreno': /\\b(terreno|lote)\\b/,\n    'local': /\\b(local comercial|local)\\b/,\n    'oficina': /\\b(oficina)\\b/,\n    'cochera': /\\b(cochera|garage|garaje)\\b/\n  };\n\n  for (const [tipo, regex] of Object.entries(tiposPropiedad)) {\n    if (fullContext.match(regex)) {\n      info.tipo_propiedad = tipo;\n      break;\n    }\n  }\n\n  // Extraer presupuesto\n  const presupuestoPatterns = [\n    /(?:presupuesto|hasta|mГЎximo|budget|tengo)[\\s:de]*(?:usd?[\\s$]*)?([\\d]+[\\\\.,]?\\d*)\\s*(?:mil|k|millones?|m)?/i,\n    /(?:usd?[\\s$]*)([\\d]+[\\\\.,]?\\d*)\\s*(?:mil|k|millones?|m)/i,\n    /([\\d]+[\\\\.,]?\\d*)\\s*(?:mil|k|millones?|m)\\s*(?:dГіlares|dolares|usd|pesos)?/i\n  ];\n\n  for (const pattern of presupuestoPatterns) {\n    const presupuestoMatch = fullContext.match(pattern);\n    if (presupuestoMatch) {\n      let monto = parseFloat(presupuestoMatch[1].replace(',', '.'));\n      if (fullContext.match(/\\bmillones?\\b/)) monto *= 1000000;\n      else if (fullContext.match(/\\b(mil|k)\\b/)) monto *= 1000;\n      info.presupuesto = monto;\n      console.log('Presupuesto encontrado:', monto);\n      break;\n    }\n  }\n\n  // Extraer zona\n  const zonaPatterns = [\n    /\\b(?:en|zona|barrio|ubicaciГіn|ubicado en?|por)\\s+(?:de\\s+|la\\s+)?([a-zГЎГ©Г­ГіГєГ±\\s]+?)(?:\\s|,|\\.|\\?|$)/i,\n    /\\b(palermo|belgrano|recoleta|puerto madero|caballito|villa crespo|colegiales|nuГ±ez|saavedra|microcentro|san telmo|balvanera|almagro|flores|barracas|monserrat|retiro|once|abasto|congreso|chacarita|parque patricios|boedo|barrio norte|zona norte|zona sur|zona oeste|centro|city bell|la plata|gonnet|tolosa|villa elisa)\\b/i\n  ];\n\n  for (const pattern of zonaPatterns) {\n    const zonaMatch = fullContext.match(pattern);\n    if (zonaMatch) {\n      const zonaCandidato = zonaMatch[1] ? zonaMatch[1].trim() : zonaMatch[0].trim();\n      if (zonaCandidato.length > 2 && zonaCandidato.length < 50) {\n        info.zona = zonaCandidato.charAt(0).toUpperCase() + zonaCandidato.slice(1);\n        console.log('Zona encontrada:', info.zona);\n        break;\n      }\n    }\n  }\n\n  // Extraer forma de pago\n  if (fullContext.match(/\\b(contado|efectivo|cash|al contado|pago contado|en efectivo|seria en efectivo|compra seria en efectivo)\\b/)) {\n    info.forma_pago = 'contado';\n    console.log('Forma de pago: contado');\n  } else if (fullContext.match(/\\b(financiado|financiaciГіn|cuotas|en cuotas|crГ©dito|a crГ©dito)\\b/)) {\n    info.forma_pago = 'financiado';\n  } else if (fullContext.match(/\\b(hipotecario|prГ©stamo|prГ©stamo hipotecario|con hipoteca|por banco|busqueda es por banco)\\b/)) {\n    info.forma_pago = 'hipotecario';\n  } else if (fullContext.match(/\\b(mixto|parte contado|parte financiado)\\b/)) {\n    info.forma_pago = 'mixto';\n  }\n\n  // Extraer caracterГ­sticas buscadas\n  const caracBuscadas = [];\n  \n  const ambMatch = fullContext.match(/\\b(\\d+)\\s*(?:ambiente|ambientes|amb)\\b/);\n  if (ambMatch) {\n    caracBuscadas.push(`${ambMatch[1]} ambientes`);\n  }\n  \n  const dormMatch = fullContext.match(/\\b(\\d+)\\s*(?:dormitorio|dormitorios|habitaciГіn|habitaciones|cuarto|cuartos)\\b/);\n  if (dormMatch) {\n    caracBuscadas.push(`${dormMatch[1]} dormitorios`);\n  }\n  \n  const baГ±oMatch = fullContext.match(/\\b(\\d+)\\s*(?:baГ±o|baГ±os)\\b/);\n  if (baГ±oMatch) {\n    caracBuscadas.push(`${baГ±oMatch[1]} baГ±os`);\n  }\n  \n  const extrasRegex = /\\b(balcГіn|balcon|terraza|jardГ­n|jardin|patio|parrilla|quincho|cochera|garage|amenities|gym|gimnasio|piscina|pileta|sum|lavadero|baulera)\\b/g;\n  const extras = fullContext.match(extrasRegex);\n  if (extras) {\n    caracBuscadas.push(...[...new Set(extras)]);\n  }\n  \n  if (caracBuscadas.length > 0) {\n    info.caracteristicas_buscadas = caracBuscadas.join(', ');\n    console.log('CaracterГ­sticas:', info.caracteristicas_buscadas);\n  }\n\n  // Extraer cГіdigo de propiedad - direcciones\n  const direccionMatch = fullContext.match(/\\b(\\d+\\s*(?:y|e\\/|esq\\.?|bis|entre)\\s*\\d+(?:\\s*y\\s*\\d+)?)\\b/i);\n  if (direccionMatch) {\n    info.propiedad_interes = direccionMatch[1].toUpperCase();\n    console.log('DirecciГіn/Propiedad encontrada:', info.propiedad_interes);\n  } else {\n    const propPatterns = [\n      /\\b(?:propiedad|prop|cГіdigo|codigo|cod|id|referencia|ref)[\\s:#-]*([a-z0-9]{3,})\\b/i,\n      /\\b(prop[a-z0-9]{2,})\\b/i\n    ];\n    \n    for (const pattern of propPatterns) {\n      const propMatch = fullContext.match(pattern);\n      if (propMatch && propMatch[1] && propMatch[1].length >= 3 && propMatch[1].length <= 20) {\n        const palabrasComunes = ['para', 'por', 'pero', 'porque', 'propiedad', 'puede', 'paso'];\n        if (!palabrasComunes.includes(propMatch[1].toLowerCase())) {\n          info.propiedad_interes = propMatch[1].toUpperCase();\n          console.log('CГіdigo propiedad encontrado:', info.propiedad_interes);\n          break;\n        }\n      }\n    }\n  }\n\n  // рџ†• EXTRAER NOMBRE - CON PUSHNAME COMO FALLBACK\n  const nombreMatch = userMsg.match(/\\b(?:me llamo|mi nombre es|soy|mi nombre)\\s+([a-zГЎГ©Г­ГіГєГ±]+(?:\\s+[a-zГЎГ©Г­ГіГєГ±]+)?)/i);\n  if (nombreMatch) {\n    const nombre = nombreMatch[1].trim();\n    info.nombre = nombre.split(' ').map(word => \n      word.charAt(0).toUpperCase() + word.slice(1).toLowerCase()\n    ).join(' ');\n    console.log('вњ… Nombre del mensaje:', info.nombre);\n  } else if (pushName) {\n    info.nombre = pushName.trim();\n    console.log('вњ… Nombre del pushName de Chatwoot:', info.nombre);\n  }\n\n  return info;\n}\n\n// Extraer informaciГіn del lead\nconst leadInfo = extractLeadInfo(userMessage, agentOutput);\n\nconsole.log('=== LEAD INFO FINAL ===');\nconsole.log(JSON.stringify(leadInfo, null, 2));\n\n// Construir query SQL - solo con campos no nulos\nconst fields = [];\nconst values = [];\nconst updates = [];\n\nObject.entries(leadInfo).forEach(([key, value]) => {\n  if (value !== null && key !== 'whatsapp_id') {\n    fields.push(key);\n    values.push(value);\n\n    if (key === 'nombre') {\n      updates.push(`${key} = COALESCE(NULLIF(EXCLUDED.${key}, ''), leads.${key})`);\n    } else if (key === 'estado') {\n      // рџ”’ PROTECCIГ“N: llamada, busqueda y visita nunca se pisan desde el UPSERT\n      updates.push(`${key} = CASE \n        WHEN leads.${key} IN ('llamada', 'visita', 'busqueda') THEN leads.${key}\n        WHEN EXCLUDED.${key} = 'caliente' THEN 'caliente'\n        WHEN EXCLUDED.${key} = 'tibio' AND leads.${key} NOT IN ('caliente', 'llamada', 'visita', 'busqueda') THEN 'tibio'\n        WHEN leads.${key} IS NULL OR leads.${key} IN ('activo', 'inicial', '') THEN EXCLUDED.${key}\n        ELSE COALESCE(EXCLUDED.${key}, leads.${key})\n      END`);\n    } else {\n      updates.push(`${key} = EXCLUDED.${key}`);\n    }\n  }\n});\n\n// Si no hay campos, solo actualizar ultima_interaccion\nif (fields.length === 0) {\n  fields.push('ultima_interaccion');\n  values.push(leadInfo.ultima_interaccion);\n  updates.push('ultima_interaccion = EXCLUDED.ultima_interaccion');\n}\n\nconst query = `\nINSERT INTO leads (whatsapp_id, ${fields.join(', ')})\nVALUES ($1, ${values.map((_, i) => `$${i + 2}`).join(', ')})\nON CONFLICT (whatsapp_id) \nDO UPDATE SET \n  ${updates.join(',\\n  ')},\n  updated_at = CURRENT_TIMESTAMP\nRETURNING *;\n`;\n\nconst parameters = [leadInfo.whatsapp_id, ...values];\n\nconsole.log('=== QUERY FINAL ===');\nconsole.log('Campos a actualizar:', fields);\nconsole.log('Valores:', parameters);\n\nreturn [{\n  json: {\n    query: query,\n    parameters: parameters,\n    leadInfo: leadInfo,\n    operation: 'upsert',\n    whatsapp_id: leadInfo.whatsapp_id,\n    extracted_data: {\n      user_message: userMessage.substring(0, 200),\n      agent_response: agentOutput.substring(0, 200),\n      pushName: pushName\n    },\n    debug: {\n      whatsapp_found: !!whatsappId,\n      pushname_found: !!pushName,\n      fields_updated: fields,\n      user_msg_length: userMessage.length,\n      agent_msg_length: agentOutput.length\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4320,
        5696
      ],
      "id": "7211d910-c9be-42b1-a385-0d467d9f25fa",
      "name": "capturar informacion",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.query }}",
        "options": {
          "queryReplacement": "={{ $json.parameters }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4624,
        5696
      ],
      "id": "df193b01-ed67-4f32-92e8-189d7c530cf6",
      "name": "query guardar informacion",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "YT3mNrhEyWrQj9o3",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatwoot-webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -3248,
        6320
      ],
      "id": "7736adf0-96f1-483e-b1b2-bc2a218922d2",
      "name": "Webhook",
      "webhookId": "74b838db-2731-44af-83e4-627d97234121"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-6",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4.6"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        3536,
        6448
      ],
      "id": "65729f66-c5bb-4151-9079-8bf08a95629d",
      "name": "Anthropic Chat Model1",
      "credentials": {
        "anthropicApi": {
          "id": "x1cMDDSv3RoaFkK5",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// NORMALIZAR WEBHOOKS - VERSIГ“N SIMPLE Y SEGURA\n// ============================================\n\ntry {\n  const webhookData = $input.first().json;\n  const body = webhookData.body;\n  const event = body.event;\n\n  console.log('=== WEBHOOK RECIBIDO ===');\n  console.log('Event:', event);\n\n  // ============================================\n  // NORMALIZACIГ“N BГЃSICA\n  // ============================================\n\n  let normalized = {\n    event: event,\n    account: body.account || null,\n    inbox: body.inbox || null,\n    conversation: null,\n    message: null,\n    sender: null,\n    content: null,\n    source_id: null,\n    timestamp: null\n  };\n\n  if (event === 'conversation_created') {\n    // ConversaciГіn estГЎ en body directamente\n    normalized.conversation = {\n      id: body.id,\n      inbox_id: body.inbox_id,\n      status: body.status,\n      contact_inbox: body.contact_inbox,\n      messages: body.messages || [],\n      meta: body.meta,\n      created_at: body.created_at,\n      updated_at: body.updated_at\n    };\n    \n    const firstMessage = body.messages?.[0];\n    if (firstMessage) {\n      normalized.message = firstMessage;\n      normalized.content = firstMessage.content;\n      normalized.source_id = firstMessage.source_id;\n      normalized.timestamp = firstMessage.created_at;\n      normalized.sender = firstMessage.sender;\n    }\n    \n  } else if (event === 'message_created') {\n    // ConversaciГіn estГЎ en body.conversation\n    normalized.conversation = body.conversation;\n    normalized.message = {\n      id: body.id,\n      content: body.content,\n      message_type: body.message_type,\n      created_at: body.created_at,\n      source_id: body.source_id,\n      sender_id: body.sender?.id\n    };\n    normalized.content = body.content;\n    normalized.source_id = body.source_id;\n    normalized.timestamp = body.created_at;\n    normalized.sender = body.sender;\n  }\n\n  // Datos comunes\n  normalized.phone_number = normalized.conversation?.contact_inbox?.source_id;\n  normalized.whatsapp_id = normalized.phone_number?.replace('+', '');\n  normalized.contact_name = normalized.sender?.name || 'Desconocido';\n  normalized.conversation_id = normalized.conversation?.id;\n  normalized.inbox_id = normalized.conversation?.inbox_id;\n\n  console.log('Normalizado exitosamente');\n  console.log('TelГ©fono:', normalized.phone_number);\n  console.log('Evento:', event);\n\n  return [{\n    json: {\n      ...webhookData,\n      normalized: normalized\n    }\n  }];\n\n} catch (error) {\n  console.error('ERROR EN NORMALIZACIГ“N:', error.message);\n  console.error('Stack:', error.stack);\n  throw error;\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2192,
        6320
      ],
      "id": "49f432d3-f69e-4aab-8e42-03d08188e6c1",
      "name": "Normalice1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "4mtNYrLqBUhzwLjA",
          "mode": "list",
          "cachedResultUrl": "/workflow/4mtNYrLqBUhzwLjA",
          "cachedResultName": "Team ali - notificacion llamada"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('lead_name', ``, 'string') }}",
            "confirmation_text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('confirmation_text', ``, 'string') }}",
            "raw_from_agent": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('raw_from_agent', ``, 'string') }}",
            "whatsapp_id": "={{ $('Normalice1').item.json.body.conversation.contact_inbox.source_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "lead_name",
              "displayName": "lead_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "lead_number",
              "displayName": "lead_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "confirmation_text",
              "displayName": "confirmation_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "raw_from_agent",
              "displayName": "raw_from_agent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "whatsapp_id",
              "displayName": "whatsapp_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3680,
        6480
      ],
      "id": "3ca50c1c-0fe6-4d8e-9925-03f735fef543",
      "name": "agendo llamada1"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "dedupe_key",
              "value": "={{'chatwoot:' + $json.body.conversation.id + ':' + $json.body.id}}"
            }
          ]
        },
        "options": {}
      },
      "id": "f04a6c73-5ff4-4d84-a15d-08f0bf97b64a",
      "name": "Set Unique Key1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -2992,
        6096
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{$json.dedupe_key}}",
        "options": {}
      },
      "id": "3c6d0773-50e5-4706-8206-067829a3a654",
      "name": "Redis Check1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2800,
        6096
      ],
      "credentials": {
        "redis": {
          "id": "IqjVekrFmnlXftuo",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "f758bb14-2153-4993-bb22-84be9ebd4673",
              "leftValue": "={{ $json.propertyName }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4422610b-a003-480f-bafe-1a3d8d556be5",
      "name": "IF Duplicate1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2592,
        6096
      ]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Set Unique Key1').item.json.dedupe_key }}",
        "value": "1",
        "expire": true
      },
      "id": "5ced2828-158d-43b8-a51c-04f8f494dbcf",
      "name": "Redis Save1",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2368,
        6160
      ],
      "credentials": {
        "redis": {
          "id": "IqjVekrFmnlXftuo",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "errorMessage": "duplicado"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -2352,
        5984
      ],
      "id": "77cd9f56-f061-4a50-a1de-e6fa7626cf7d",
      "name": "Stop and Error1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        3824,
        6864
      ],
      "id": "9cc1eba8-1416-4b35-a8ec-253fa0cc547d",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "BPTkrfKD8LOqnHgE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "2BaZJuYh0If9DBiw",
          "mode": "list",
          "cachedResultUrl": "/workflow/2BaZJuYh0If9DBiw",
          "cachedResultName": "busqueda personalizada- Team ali"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "whatsapp_id": "={{ $('Normalice1').item.json.body.conversation.contact_inbox.source_id }}",
            "raw_from_agent": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('raw_from_agent', ``, 'string') }}",
            "confirmation_text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('confirmation_text', ``, 'string') }}",
            "lead_number": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('lead_number', ``, 'string') }}",
            "lead_name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('lead_name', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "lead_name",
              "displayName": "lead_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "lead_number",
              "displayName": "lead_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "confirmation_text",
              "displayName": "confirmation_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "raw_from_agent",
              "displayName": "raw_from_agent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "whatsapp_id",
              "displayName": "whatsapp_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3680,
        6640
      ],
      "id": "aa6d26ee-965f-423b-a8d8-e8a9603fe3a2",
      "name": "busqueda personalizada"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "mia-n8n.w9weud.easypanel.host",
            "user-agent": "rest-client/2.1.0 (linux-musl x86_64) ruby/3.4.4p34",
            "content-length": "2554",
            "accept": "application/json",
            "accept-encoding": "gzip;q=1.0,deflate;q=0.6,identity;q=0.3",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "mia-n8n.w9weud.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "61a01b9f8eee",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "account": {
              "id": 2,
              "name": "flip"
            },
            "additional_attributes": {},
            "content_attributes": {},
            "content_type": "text",
            "content": "Hola! Quiero mГЎs informaciГіn sobre el depto de 12 e/ 37 y 38",
            "conversation": {
              "additional_attributes": {},
              "can_reply": true,
              "channel": "Channel::Whatsapp",
              "contact_inbox": {
                "id": 347,
                "contact_id": 346,
                "inbox_id": 2,
                "source_id": "5492215065324",
                "created_at": "2026-01-22T09:20:38.001Z",
                "updated_at": "2026-01-22T09:20:38.001Z",
                "hmac_verified": false,
                "pubsub_token": "zUJXgnNtjh9M1gKcgpS5SFs4"
              },
              "id": 347,
              "inbox_id": 2,
              "messages": [
                {
                  "id": 13172,
                  "content": "Hola! Quiero mГЎs informaciГіn sobre el depto de 12 e/ 37 y 38",
                  "account_id": 2,
                  "inbox_id": 2,
                  "conversation_id": 347,
                  "message_type": 0,
                  "created_at": 1772681246,
                  "updated_at": "2026-03-05T03:27:26.335Z",
                  "private": false,
                  "status": "sent",
                  "source_id": "wamid.HBgNNTQ5MjIxNTA2NTMyNBUCABIYIEFDNjNDRUIzQ0IwQkI1QzFGRDRGNjI2MTJEOTRCRUU0AA==",
                  "content_type": "text",
                  "content_attributes": {},
                  "sender_type": "Contact",
                  "sender_id": 346,
                  "external_source_ids": {},
                  "additional_attributes": {},
                  "processed_message_content": "Hola! Quiero mГЎs informaciГіn sobre el depto de 12 e/ 37 y 38",
                  "sentiment": {},
                  "conversation": {
                    "assignee_id": null,
                    "unread_count": 10,
                    "last_activity_at": 1772681246,
                    "contact_inbox": {
                      "source_id": "5492215065324"
                    }
                  },
                  "sender": {
                    "additional_attributes": {},
                    "custom_attributes": {},
                    "email": null,
                    "id": 346,
                    "identifier": null,
                    "name": "JM рџ–¤",
                    "phone_number": "+5492215065324",
                    "thumbnail": "",
                    "blocked": false,
                    "type": "contact"
                  }
                }
              ],
              "labels": [],
              "meta": {
                "sender": {
                  "additional_attributes": {},
                  "custom_attributes": {},
                  "email": null,
                  "id": 346,
                  "identifier": null,
                  "name": "JM рџ–¤",
                  "phone_number": "+5492215065324",
                  "thumbnail": "",
                  "blocked": false,
                  "type": "contact"
                },
                "assignee": null,
                "assignee_type": null,
                "team": null,
                "hmac_verified": false
              },
              "status": "open",
              "custom_attributes": {},
              "snoozed_until": null,
              "unread_count": 10,
              "first_reply_created_at": "2026-01-22T17:34:15.326Z",
              "priority": null,
              "waiting_since": 1769122827,
              "agent_last_seen_at": 0,
              "contact_last_seen_at": 0,
              "last_activity_at": 1772681246,
              "timestamp": 1772681246,
              "created_at": 1769073638,
              "updated_at": 1772681246.37604
            },
            "created_at": "2026-03-05T03:27:26.335Z",
            "id": 13172,
            "inbox": {
              "id": 2,
              "name": "Team ali"
            },
            "message_type": "incoming",
            "private": false,
            "sender": {
              "account": {
                "id": 2,
                "name": "flip"
              },
              "additional_attributes": {},
              "avatar": "",
              "custom_attributes": {},
              "email": null,
              "id": 346,
              "identifier": null,
              "name": "JM рџ–¤",
              "phone_number": "+5492215065324",
              "thumbnail": "",
              "blocked": false
            },
            "source_id": "wamid.HBgNNTQ5MjIxNTA2NTMyNBUCABIYIEFDNjNDRUIzQ0IwQkI1QzFGRDRGNjI2MTJEOTRCRUU0AA==",
            "event": "message_created"
          },
          "webhookUrl": "https://mia-n8n.w9weud.easypanel.host/webhook/chatwoot-webhook",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "SQL - Cancelar Seguimiento": {
      "main": [
        [
          {
            "node": "Is Conv Active?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Estado Chat en DB1": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reranker Cohere": {
      "ai_reranker": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_reranker",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "RAG Agent": {
      "main": [
        [
          {
            "node": "capturar informacion",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code - Registrar para Seguimiento",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Obtener Historial Evolution4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Contexto4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Obter m dia em base1": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Obter m dia em base1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "pushRedis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "If16",
            "type": "main",
            "index": 0
          },
          {
            "node": "If20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If16": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "RAG Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "bufferRedis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "bufferRedis1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "borrarRedis": {
      "main": [
        [
          {
            "node": "Merge Contexto",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "pushRedis1": {
      "main": [
        [
          {
            "node": "bufferRedis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "sinAccion1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "borrarRedis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If17": {
      "main": [
        [
          {
            "node": "Set Estado Chat en DB1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If18": {
      "main": [
        [
          {
            "node": "Set Estado Chat en DB1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Conv Active?": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If19": {
      "main": [
        [
          {
            "node": "Set Estado Chat en DB1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Historial": {
      "main": [
        [
          {
            "node": "Merge Contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Historial Evolution": {
      "main": [
        [
          {
            "node": "Formatear Historial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Contexto": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If20": {
      "main": [
        [
          {
            "node": "Obtener Historial Evolution",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Guardar mensaje si inactivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Registrar para Seguimiento": {
      "main": [
        [
          {
            "node": "SQL - Agregar a Cola Seguimiento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If21": {
      "main": [
        [],
        [
          {
            "node": "SQL - Cancelar Seguimiento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar mensaje si inactivo": {
      "main": [
        [
          {
            "node": "SQL - Guardar Mensaje Pendiente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "borrarRedis6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code10": {
      "main": [
        [
          {
            "node": "borrarRedis7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code11": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Historial Evolution4": {
      "main": [
        [
          {
            "node": "Formatear Historial4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Historial4": {
      "main": [
        [
          {
            "node": "Merge Contexto4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Contexto4": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "capturar informacion": {
      "main": [
        [
          {
            "node": "query guardar informacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalice1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set Unique Key1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Normalice1": {
      "main": [
        [
          {
            "node": "If21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "agendo llamada1": {
      "ai_tool": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Set Unique Key1": {
      "main": [
        [
          {
            "node": "Redis Check1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Check1": {
      "main": [
        [
          {
            "node": "IF Duplicate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Duplicate1": {
      "main": [
        [
          {
            "node": "Stop and Error1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Redis Save1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "busqueda personalizada": {
      "ai_tool": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Argentina/Buenos_Aires",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "2aee88f6-0532-45d4-816a-263e61daceff",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ee9f9cdde9b6fee62a7d6845e13fb03583e8c082f1cedc5478accdeca64f2246"
  },
  "id": "ejW2YR1lNj3dYsGc",
  "tags": []
}